@font-face {
  font-family: 'Lato';
  src: url('#{$sgbp-public-asset-path}/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Lato';
  src: url('#{$sgbp-public-asset-path}/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap
}
