// sass-lint:disable no-important
.sgbp-hidden {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  display: none !important;

  &--preserveSpace {
    display: inherit !important;
    opacity: 0;
  }

  &.is-unhidden {
    display: inherit !important;

    &.sgbp-hidden--fadeInOnUnhidden {
      animation: fadeIn 0.5s;
    }

    &.sgbp-hidden--preserveSpace {
      opacity: 1;
    }
  }
}
