:root {
  --sgbp-loading-container-dialog-background: var(--sgbp-color-transparent);
  --sgbp-loading-container-blocking-background: var(--sgbp-color-lighten);
}

.sgbp-loadingContainer {
  position: relative;
  min-height: 40px;

  &__loader {
    transition: background-color 500ms;
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: var(--sgbp-color-transparent);
  }

  &__dialog {
    @include sgbp-roundedEdges;
    transition: transform 300ms;
    transform: scale(0);
    padding: var(--sgbp-default-margin) var(--sgbp-default-margin) calc(var(--sgbp-default-margin) * 0.8) var(--sgbp-default-margin);
    pointer-events: none;
    background-color: var(--sgbp-loading-container-dialog-background);
  }

  &__loadingIndicator {
    display: none;
    float: left;
  }

  &__loadingMessage {
    float: left;
    color: var(--sgbp-color-white);
    line-height: 1.5rem;
    margin-right: var(--sgbp-default-margin);
  }

  &.is-loading {
    .sgbp-loadingContainer__loader {
      z-index: var(--sgbp-loading-container-z-index);
      opacity: 1;
    }

    .sgbp-loadingContainer__dialog {
      transform: scale(1);
    }

    .sgbp-loadingContainer__loadingIndicator {
      display: block;
      pointer-events: all;
    }
  }

  &.is-blocking {
    > .sgbp-loadingContainer__loader {
      pointer-events: all;
      background-color: var(--sgbp-loading-container-blocking-background);
    }
  }
}
