:root {
  --sgbp-row-margin: var(--sgbp-default-margin);
  --sgbp-row-margin-small: var(--sgbp-default-margin-small);
  --sgbp-row-margin-extra-small: calc(var(--sgbp-default-margin-small) * 0.5);
  --sgbp-row-margin-big: var(--sgbp-default-margin-big);
  --sgbp-row-margin-extra-big: calc(var(--sgbp-default-margin-big) * 1.5);
  --sgbp-row-separator-color: var(--sgbp-color-gray-medium);
}

.sgbp-row {
  margin-bottom: var(--sgbp-row-margin);

  &--bigMargin {
    margin-bottom: var(--sgbp-row-margin-big);
  }

  &--extraBigMargin {
    margin-bottom: var(--sgbp-row-margin-extra-big);
  }

  &--smallMargin {
    margin-bottom: var(--sgbp-row-margin-small);
  }

  &--extraSmallMargin {
    margin-bottom: var(--sgbp-row-margin-extra-small);
  }

  &--first {
    padding-top: var(--sgbp-row-margin) / 2;

    &.sgbp-row--bigMargin {
      padding-top: var(--sgbp-row-margin-big) / 2;
    }

    &.sgbp-row--extraBigMargin {
      padding-top: var(--sgbp-row-margin-extra-big) / 2;
    }

    &.sgbp-row--smallMargin {
      padding-top: var(--sgbp-row-margin-small) / 2;
    }
  }

  &--withSeparator {
    border-bottom: 1px solid var(--sgbp-row-separator-color);
    padding-bottom: var(--sgbp-row-margin);

    &.sgbp-row--bigMargin {
      padding-bottom: var(--sgbp-row-margin-big);
    }

    &.sgbp-row--extraBigMargin {
      padding-bottom: var(--sgbp-row-margin-extra-big);
    }

    &.sgbp-row--smallMargin {
      padding-bottom: var(--sgbp-row-margin-small);
    }

    &.sgbp-row--extraSmallMargin {
      padding-bottom: var(--sgbp-row-margin-extra-small);
    }
  }

  &--inverse {
    margin-bottom: 0;
    margin-top: var(--sgbp-row-margin);

    &.sgbp-row--smallMargin {
      margin-top: var(--sgbp-row-margin-small);
    }

    &.sgbp-row--extraSmallMargin {
      margin-top: var(--sgbp-row-margin-extra-small);
    }

    &.sgbp-row--bigMargin {
      margin-top: var(--sgbp-row-margin-big);
    }

    &.sgbp-row--extraBigMargin {
      margin-top: var(--sgbp-row-margin-extra-big);
    }

    &.sgbp-row--withSeparator {
      padding-bottom: 0;
      border-bottom: none;
      border-top: 1px solid var(--sgbp-color-gray-medium);
      padding-top: var(--sgbp-row-margin);

      // scss-lint:disable NestingDepth
      &.sgbp-row--smallMargin {
        padding-top: var(--sgbp-row-margin-small);
      }

      &.sgbp-row--extraSmallMargin {
        padding-top: var(--sgbp-row-margin-extra-small);
      }

      &.sgbp-row--bigMargin {
        padding-top: var(--sgbp-row-margin-big);
      }

      &.sgbp-row--extraBigMargin {
        padding-top: var(--sgbp-row-margin-extra-big);
      }
      // scss-lint:enable NestingDepth
    }
  }
}
