@mixin sgbp-hover($_color: null, $_backgroundColor: null, $_borderColor: null) {
  &:hover {
    @if ($_color) {
      color: $_color;
    }

    @if ($_backgroundColor) {
      background-color: $_backgroundColor;
    }

    @if ($_borderColor) {
      border-color: $_borderColor;
    }
  }
}
