@mixin sgbp-link($is-unobtrusive: false) {
  transition: color 0.2s ease-in-out;
  color: var(--sgbp-link-color);
  text-decoration: underline;
  cursor: pointer;

  &:visited,
  &:active {
    color: var(--sgbp-link-color);
    text-decoration: underline;
  }

  &:focus {
    color: var(--sgbp-link-hover-color);
    text-decoration: underline;
  }

  @include sgbp-hover(var(--sgbp-link-hover-color)); // scss-lint:disable DeclarationOrder

  @if ($is-unobtrusive == 'modifier') {
    &--unobtrusive {
      @include sgbp-hover(var(--sgbp-color-accent));

      &,
      &:visited {
        color: var(--sgbp-text-color);
      }
    }
  } @else if ($is-unobtrusive == true) {
    @include sgbp-hover(var(--sgbp-color-accent));

    &,
    &:visited {
      color: var(--sgbp-text-color);
    }
  }
}
