:root {
  --sgbp-actionButton-size: 80px;
  --sgbp-actionButton-border-radius: calc(var(--sgbp-actionButton-size) / 2);
  --sgbp-actionButton-icon-size: 32px;
  --sgbp-actionButton-floating-z-index: 10;
}
.sgbp-actionButton {
  &__button {
    border-radius: var(--sgbp-actionButton-border-radius);
    width: var(--sgbp-actionButton-size);
    height: var(--sgbp-actionButton-size);
  }

  &__icon {
    height: var(--sgbp-actionButton-icon-size);
    width: var(--sgbp-actionButton-icon-size);

    & + & {
      margin-left: var(--sgbp-default-margin);
    }
  }

  &--floating {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: var(--sgbp-actionButton-floating-z-index);
  }

  &__flyout {
    height: 100%;
    margin-right: calc(var(--sgbp-actionButton-size) * -1);
    border-radius: var(--sgbp-actionButton-border-radius);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding-left: var(--sgbp-default-margin-big);
    padding-right: var(--sgbp-default-margin-big);
  }

  &__flyoutIcons {
    height: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
}
