:root {
  --sgbp-alert-border-color: var(--sgbp-color-gray-light);
  --sgbp-alert-border-width: 1px;
  --sgbp-alert-border-style: solid;
  --sgbp-alert-border-radius: 0;
  --sgbp-alert-padding: var(--sgbp-default-margin);
  --sgbp-alert-padding-screen-large: var(--sgbp-default-margin-screen-large);
  --sgbp-alert-success-color: var(--sgbp-color-success-inverted);
  --sgbp-alert-success-color-background: var(--sgbp-color-success);
  --sgbp-alert-success-color-border: var(--sgbp-color-success);
  --sgbp-alert-info-color: var(--sgbp-color-black);
  --sgbp-alert-info-color-background: var(--sgbp-color-gray-light);
  --sgbp-alert-info-color-border: var(--sgbp-color-gray-light);
  --sgbp-alert-warning-color: var(--sgbp-color-warning-inverted);
  --sgbp-alert-warning-color-background: var(--sgbp-color-warning);
  --sgbp-alert-warning-color-border: var(--sgbp-color-warning-color-background);
  --sgbp-alert-error-color: var(--sgbp-color-error-inverted);
  --sgbp-alert-error-color-background: var(--sgbp-color-error);
  --sgbp-alert-error-color-border: var(--sgbp-color-error-color-background);
}

.sgbp-alert {
  padding: var(--sgbp-alert-padding);
  border-width: var(--sgbp-alert-border-width);
  border-style: var(--sgbp-alert-border-style);
  border-radius: var(--sgbp-alert-border-radius);

  border-color: var(--sgbp-alert-border-color);

  @media #{var(--sgbp-medium-up)} {
    padding: var(--sgbp-alert-padding-screen-large);
  }

  &--success {
    color: var(--sgbp-alert-success-color);
    background-color: var(--sgbp-alert-success-color-background);
    border-color: var(--sgbp-alert-success-color-border);

    .sgbp-link {
      color: var(--sgbp-alert-success-color);
    }
  }

  &--info {
    color: var(--sgbp-alert-info-color);
    background-color: var(--sgbp-alert-info-color-background);
    border-color: var(--sgbp-alert-info-color-border);

    .sgbp-link {
      color: var(--sgbp-alert-info-color);
    }
  }

  &--warning {
    color: var(--sgbp-alert-warning-color);
    background-color: var(--sgbp-alert-warning-color-background);
    border-color: var(--sgbp-alert-warning-color-border);

    .sgbp-link {
      color: var(--sgbp-alert-warning-color);
    }
  }

  &--error {
    color: var(--sgbp-alert-error-color);
    background-color: var(--sgbp-alert-error-color-background);
    border-color: var(--sgbp-alert-error-color-border);

    .sgbp-link {
      color: var(--sgbp-alert-error-color);
    }
  }
}
