@keyframes sgbp-zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes sgbp-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sgbp-slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sgbp-slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes sgbp-bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.sgbp-animated {
  animation-fill-mode: both;
  animation-duration: 400ms;

  &--zoomIn {
    animation-name: sgbp-zoomIn;
  }

  &--fadeIn {
    animation-name: sgbp-fadeIn;
  }

  &--slideInUp {
    animation-name: sgbp-slideInUp;
  }

  &--slideOutDown {
    animation-name: sgbp-slideOutDown;
  }

  &--bounceInDown {
    animation-name: sgbp-bounceInDown;
  }
}
