html {
  --sgbp-badge-background-color-default: var(--sgbp-color-gray-lighter);
  --sgbp-badge-color-default: var(--sgbp-color-black);
  --sgbp-badge-background-color-info: var(--sgbp-color-gray-light);
  --sgbp-badge-color-info: var(--sgbp-color-black);
  --sgbp-badge-background-color-warning: var(--sgbp-color-warning);
  --sgbp-badge-color-warning: var(--sgbp-color-warning-inverted);
  --sgbp-badge-background-color-success: var(--sgbp-color-success);
  --sgbp-badge-color-success: var(--sgbp-color-success-inverted);
  --sgbp-badge-background-color-error: var(--sgbp-color-error);
  --sgbp-badge-color-error: var(--sgbp-color-error-inverted);
  --sgbp-badge-border-radius: 2px;
  --sgbp-badge-height: 1.5em;
  --sgbp-badge-horizontal-padding: 0.9em;
}

.sgbp-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--sgbp-badge-horizontal-padding);
  padding-right: var(--sgbp-badge-horizontal-padding);
  height: var(--sgbp-badge-height);

  border-radius: var(--sgbp-badge-border-radius);
  font-size: 12px;
  font-weight: bold;

  color: var(--sgbp-badge-color-default);
  background: var(--sgbp-badge-background-color-default);

  transition: color 300ms, background-color 300ms;

  &:empty::before {
    // add non breaking space to empty elements to avoid positioning issues
    content: '\00a0';
  }

  &--accent {
    color: var(--sgbp-color-accent-inverted);
    background: var(--sgbp-color-accent);
  }

  &--highlight {
    color: var(--sgbp-color-highlight-inverted);
    background: var(--sgbp-color-highlight);
  }

  &--info {
    color: var(--sgbp-badge-color-info);
    background: var(--sgbp-badge-background-color-info);
  }

  &--warning {
    color: var(--sgbp-badge-color-warning);
    background: var(--sgbp-badge-background-color-warning);
  }

  &--error {
    color: var(--sgbp-badge-color-error);
    background: var(--sgbp-badge-background-color-error);
  }

  &--success {
    color: var(--sgbp-badge-color-success);
    background: var(--sgbp-badge-background-color-success);
  }
}
