:root {
  --sgbp-badges-gap: var(--sgbp-spacing-2xs);

  --sgbp-badge-fontSize: var(--sgbp-font-size-xs);
  --sgbp-badge-fontWeight: normal;
  --sgbp-badge-horizontal-padding: 6px;
  --sgbp-badge-height: 24px;
  --sgbp-badge-backgroundColor: var(--sgbp-color-gray-25);
  --sgbp-badge-color: var(--sgbp-color-gray-700);
  --sgbp-badge-borderColor: var(--sgbp-color-gray-25);
  --sgbp-badge-hover-backgroundColor: var(--sgbp-color-gray-50);
}

.sgbp-badges {
  display: flex; /* make sure badges are vertically centered / avoid slide shifts depending on white space in html */
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sgbp-badges-gap);
}

.sgbp-badge {
  &--xs {
    --sgbp-badge-height: 20px;
    --sgbp-badge-horizontal-padding: 5px;
    --sgbp-badge-fontSize: var(--sgbp-font-size-xs);
    --sgbp-badge-fontWeight: bold;
  }

  &--s {
    --sgbp-badge-height: 24px;
    --sgbp-badge-horizontal-padding: 5px;
    --sgbp-badge-fontSize: var(--sgbp-font-size-xs);
    --sgbp-badge-fontWeight: normal;
  }

  &--l {
    --sgbp-badge-height: var(--sgbp-spacing-l);
    --sgbp-badge-horizontal-padding: 6px;
    --sgbp-badge-fontSize: var(--sgbp-font-size-l);
    --sgbp-badge-fontWeight: normal;
  }

  &--xl {
    --sgbp-badge-height: 36px;
    --sgbp-badge-horizontal-padding: 10px;
    --sgbp-badge-fontSize: var(--sgbp-font-size-s);
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--sgbp-badge-height);
  padding-left: var(--sgbp-badge-horizontal-padding);
  padding-right: var(--sgbp-badge-horizontal-padding);
  max-width: 100%;
  background-color: var(--sgbp-badge-backgroundColor);
  font-size: var(--sgbp-badge-fontSize);
  font-weight: var(--sgbp-badge-fontWeight);
  border: 1px solid var(--sgbp-badge-borderColor);
  border-radius: 6px;
  letter-spacing: 0.02em;
  white-space: nowrap;

  &,
  &:visited {
    color: var(--sgbp-badge-color);
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: var(--sgbp-spacing-3xs);
    flex-shrink: 0;
  }

  //&--accent {
  //  // default
  //}

  &--transparent {
    --sgbp-badge-backgroundColor: var(--sgbp-color-transparent);
    --sgbp-badge-color: inherit;
    --sgbp-badge-borderColor: var(--sgbp-color-transparent);
    --sgbp-badge-hover-backgroundColor: var(--sgbp-color-semiTransparent-2);
    color: inherit;
  }

  &--accent {
    --sgbp-badge-backgroundColor: var(--sgbp-color-accent);
    --sgbp-badge-color: var(--sgbp-color-accent-inverted);
    --sgbp-badge-borderColor: var(--sgbp-color-accent);
    --sgbp-badge-hover-backgroundColor: var(--sgbp-color-accent-700);
  }

  &--highlight {
    --sgbp-badge-backgroundColor: var(--sgbp-color-highlight);
    --sgbp-badge-color: var(--sgbp-color-highlight-inverted);
    --sgbp-badge-borderColor: var(--sgbp-color-highlight);
    --sgbp-badge-hover-backgroundColor: var(--sgbp-color-highlight-700);
  }

  &--firstInLine {
    padding-left: 0;
  }

  &--clickable {
    transition: background-color;
    cursor: pointer;
  }

  &--clickable:hover {
    background-color: var(--sgbp-badge-hover-backgroundColor);
  }
}
