.sgbp-badgeIcon {
  display: inline-flex;
  position: relative;

  &__icon {
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
  }

  &__badge {
    position: relative;
    z-index: 0;
  }

  &--info &__icon {
    color: var(--sgbp-badge-color-info);
  }

  &--success &__icon {
    color: var(--sgbp-color-success);
  }

  &--warning &__icon {
    color: var(--sgbp-color-warning);
  }

  &--error &__icon {
    color: var(--sgbp-color-error);
  }
}
