.sgbp-badgeIcon {
  display: inline-flex;
  position: relative;

  &__badge {
    position: absolute;
    left: 56%;
    top: 50%;
  }

  &--info &__icon {
    color: var(--sgbp-badge-color-info);
  }

  &--success &__icon {
    color: var(--sgbp-color-success);
  }

  &--warning &__icon {
    color: var(--sgbp-color-warning);
  }

  &--error &__icon {
    color: var(--sgbp-color-error);
  }
}
