:root {
  --sgbp-badge-background-color-default: var(--sgbp-color-gray-lighter);
  --sgbp-badge-color-default: var(--sgbp-color-black);
  --sgbp-badge-background-color-info: var(--sgbp-color-gray-light);
  --sgbp-badge-color-info: var(--sgbp-color-black);
  --sgbp-badge-background-color-warning: var(--sgbp-color-warning);
  --sgbp-badge-color-warning: var(--sgbp-color-warning-inverted);
  --sgbp-badge-background-color-success: var(--sgbp-color-success);
  --sgbp-badge-color-success: var(--sgbp-color-success-inverted);
  --sgbp-badge-background-color-error: var(--sgbp-color-error);
  --sgbp-badge-color-error: var(--sgbp-color-error-inverted);
}

.sgbp-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.3em;
  min-width: 1.6em;
  height: 1.6em;

  border-radius: 0.8em;
  font-size: 12px;
  font-weight: bold;

  color: var(--sgbp-badge-color-default);
  background: var(--sgbp-badge-background-color-default);

  transition: color 300ms, background-color 300ms;

  &--info {
    color: var(--sgbp-badge-color-info);
    background: var(--sgbp-badge-background-color-info);
  }

  &--warning {
    color: var(--sgbp-badge-color-warning);
    background: var(--sgbp-badge-background-color-warning);
  }

  &--error {
    color: var(--sgbp-badge-color-error);
    background: var(--sgbp-badge-background-color-error);
  }

  &--success {
    color: var(--sgbp-badge-color-success);
    background: var(--sgbp-badge-background-color-success);
  }
}
