:root {
  --sgbp-button-primary-color-background: var(--sgbp-color-brand-primary);
  --sgbp-button-primary-color: var(--sgbp-color-brand-primary-inverted);
  --sgbp-button-primary-border-color: var(--sgbp-button-primary-color-background);
  --sgbp-button-primary-hover-color-background: var(--sgbp-color-brand-primary-light);
  --sgbp-button-primary-hover-color: var(--sgbp-button-primary-color);
  --sgbp-button-primary-hover-border-color: var(--sgbp-button-primary-hover-color-background);

  --sgbp-button-secondary-color-background: var(--sgbp-color-gray-dark);
  --sgbp-button-secondary-color: var(--sgbp-color-white);
  --sgbp-button-secondary-border-color: var(--sgbp-color-gray-dark);
  --sgbp-button-secondary-hover-color-background: var(--sgbp-color-gray-darker);
  --sgbp-button-secondary-hover-color: var(--sgbp-color-white);
  --sgbp-button-secondary-hover-border-color: var(--sgbp-button-secondary-hover-color-background);

  --sgbp-button-danger-color-background: var(--sgbp-color-error);
  --sgbp-button-danger-color: var(--sgbp-color-white);
  --sgbp-button-danger-border-color: var(--sgbp-button-danger-color-background);
  --sgbp-button-danger-hover-color-background: var(--sgbp-button-danger-color-background);
  --sgbp-button-danger-hover-color: var(--sgbp-button-danger-color);
  --sgbp-button-danger-hover-border-color: var(--sgbp-button-danger-hover-color-background);

  --sgbp-button-padding: 0.85em 0.75em 0.55em 0.75em;
  --sgbp-button-padding-big: 1.12em 1em 0.7em 1em;

  --sgbp-button-font-weight: bold;
  --sgbp-button-text-transform: uppercase;

  --sgbp-button-font-size: 0.9em;
  --sgbp-button-font-size-big: 1.2em;
  --sgbp-button-border-radius: var(--sgbp-roundedEdge-border-radius);
  --sgbp-button-icon-margin-top: -0.1em;
  --sgbp-button-icon-margin-bottom: 0;
}

@mixin sgbp-button-colors($_color, $_backgroundColor, $_borderColor, $_hoverColor, $_hoverBackgroundColor, $_hoverBorderColor) {
  background-color: $_backgroundColor;
  color: $_color;
  border-color: $_borderColor;

  &:visited {
    color: $_color;
  }

  &:not([disabled]) {
    @include sgbp-hover($_hoverColor, $_hoverBackgroundColor);
  }

  &:not([disabled]):not(:hover):active,
  &:not([disabled]):not(:hover):focus {
    color: $_color;
  }

  &.is-active {
    background-color: $_hoverBackgroundColor;
    color: $_hoverColor;
  }

  &.sgbp-button--outline {
    background-color: transparent;
    color: $_backgroundColor;
    border-color: $_backgroundColor;

    &:hover,
    &.is-active {
      background-color: $_backgroundColor;
      color: $_color;
    }
  }
}

.sgbp-button {
  transition: background-color 200ms, border-color 200ms, color 200ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--sgbp-button-padding);
  border: 1px solid transparent;
  border-radius: var(--sgbp-button-border-radius);

  text-transform: var(--sgbp-button-text-transform);
  font-size: var(--sgbp-button-font-size);
  font-weight: var(--sgbp-button-font-weight);
  line-height: 1em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &[disabled],
  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.sgbp-button--block {
  width: 100%;
  justify-content: center;
}

.sgbp-button--primary {
  @include sgbp-button-colors(var(--sgbp-button-primary-color), var(--sgbp-button-primary-color-background), var(--sgbp-button-primary-border-color), var(--sgbp-button-primary-hover-color), var(--sgbp-button-primary-hover-color-background), var(--sgbp-button-primary-hover-border-color));
}

.sgbp-button--secondary {
  @include sgbp-button-colors(var(--sgbp-button-secondary-color), var(--sgbp-button-secondary-color-background), var(--sgbp-button-secondary-border-color), var(--sgbp-button-secondary-hover-color), var(--sgbp-button-secondary-hover-color-background), var(--sgbp-button-secondary-hover-border-color));
}

.sgbp-button--danger {
  @include sgbp-button-colors(var(--sgbp-button-danger-color), var(--sgbp-button-danger-color-background), var(--sgbp-button-danger-border-color), var(--sgbp-button-danger-hover-color), var(--sgbp-button-danger-hover-color-background), var(--sgbp-button-danger-hover-border-color));
}

.sgbp-button__icon {
  margin-top: var(--sgbp-button-icon-margin-top);
  margin-bottom: var(--sgbp-button-icon-margin-bottom);

  &--left {
    margin-right: 0.3em;
    margin-left: -0.2em;
  }

  &--right {
    margin-left: 0.3em;
    margin-right: -0.2em;
  }
}

.sgbp-button--big {
  padding: var(--sgbp-button-padding-big);
  font-size: var(--sgbp-button-font-size-big);
}
