.sgbp-centered {
  display: flex;

  &--vertically {
    align-items: center;
  }

  &--horizontally {
    flex-direction: column;
    align-items: center;

    &.sgbp-centered--vertically {
      justify-content: center;
    }
  }
}
