:root {
  --sgbp-checkboxAndRadio-background-color-checked: var(--sgbp-color-brand-primary);
  --sgbp-checkboxAndRadio-checkmarkIcon-variant: 'light';
  --sgbp-checkboxAndRadio-inline-margin: var(--sgbp-default-margin-big);
  --sgbp-checkboxAndRadio-size: 1.75em;
  --sgbp-checkboxAndRadio-label-color: var(--sgbp-color-black);
  --sgbp-checkboxAndRadio-label-color-checked: var(--sgbp-checkboxAndRadio-background-color-checked);
}

.sgbp-radio,
.sgbp-checkbox {
  display: block;

  margin-top: 0.5em;

  &--inline {
    display: inline-block;
    margin-right: var(--sgbp-checkboxAndRadio-inline-margin);
  }

  &__label {
    position: relative;
    display: inline-block;
    min-height: 1em;
    padding-left: 2em;
    vertical-align: middle;

    color: var(--sgbp-checkboxAndRadio-label-color);
    cursor: pointer;

    &::before {
      content: '';
      transition: background-color 300ms;
      position: absolute;
      margin-top: -0.17em;
      left: 0;
      width: var(--sgbp-checkboxAndRadio-size);
      height: var(--sgbp-checkboxAndRadio-size);
      border: 1px solid var(--sgbp-color-gray-dark);
      padding: 0.2em;
      color: var(--sgbp-color-white);
      line-height: 0.4em;
      text-indent: -0.1em;
    }
  }

  &__control {
    // do not use display: none because that would prevent the control from being tab-activatable (it would lose its tabindex so to say)
    position: absolute;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__control:focus + &__label::before {
    border-width: 2px;
  }

  &.is-checked &__label,
  &__control:checked + &__label {
    color: var(--sgbp-checkboxAndRadio-label-color-checked);
  }

  &.is-checked &__label::before,
  &__control:checked + &__label::before {
    background-image: url('#{$sgbp-public-asset-path}/images/check_#{var(--sgbp-checkboxAndRadio-checkmarkIcon-variant)}.svg');
    background-color: var(--sgbp-checkboxAndRadio-background-color-checked);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--big &__label {
    font-size: 1.1em;
    padding-left: 2.6em;

    &::before {
      margin-top: -0.24em;
      border-width: 2px;
      line-height: 0.4em;
      text-indent: -0.2em;
      font-size: 1.2em;
    }
  }

  &--big {
    margin-right: var(--sgbp-default-margin-big);

    & + & {
      margin-top: 1em;
    }
  }

  &--big.sgbp-checkbox--inline,
  &--big.sgbp-radio--inline {
    & + & {
      margin-top: 0;
    }
  }

  &--small &--inline {
    margin-right: var(--sgbp-default-margin-small);
  }

  &--small &__label {
    font-size: 0.8em;
  }

  &.is-disabled &__label {
    color: var(--sgbp-color-gray-medium);
    cursor: not-allowed;

    &::before {
      opacity: 0.7;
    }
  }
}

.sgbp-radio__label::before {
  border-radius: 50%;
}
