.sgbp-checkboxSwitch {
  --sgbp-checkboxSwitch--activeColor: var(--sgbp-color-accent);
  --sgbp-checkboxSwitch--inactiveColor: var(--sgbp-color-accent-inverted);
  --sgbp-checkboxSwitch--focusShadowColor: var(--sgbp-color-gray-50);

  --sgbp-checkboxswitch-height: 24px;
  --sgbp-checkboxswitch-width: 36px;
  --sgbp-checkboxSwitch--padding: 2px;
  --sgbp-checkboxSwitch--dotDiameter: 16px;

  --sgbp-checkboxSwitch--borderColor: var(--sgbp-checkboxSwitch--activeColor);
  --sgbp-checkboxSwitch--backgroundColor: var(--sgbp-checkboxSwitch--inactiveColor);
  --sgbp-checkboxSwitch--dotColor: var(--sgbp-checkboxSwitch--activeColor);

  &--highlight {
    --sgbp-checkboxSwitch--activeColor: var(--sgbp-color-highlight);
    --sgbp-checkboxSwitch--inactiveColor: var(--sgbp-color-highlight-inverted);
    --sgbp-checkboxSwitch--focusShadowColor: var(--sgbp-color-highlight-200);
  }

  display: inline-block;
  width: var(--sgbp-checkboxswitch-width);
  height: var(--sgbp-checkboxswitch-height);

  &__control {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  &__switch {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: var(--sgbp-checkboxSwitch--padding);
    padding-right: var(--sgbp-checkboxSwitch--padding);
    cursor: pointer;
    outline: none;
    user-select: none;
    border: 1.5px solid var(--sgbp-checkboxSwitch--borderColor);
    background-color: var(--sgbp-checkboxSwitch--inactiveColor);
    border-radius: 12px;

    //&:before,
    &:after {
      content: '';
      width: var(--sgbp-checkboxSwitch--dotDiameter);
      height: var(--sgbp-checkboxSwitch--dotDiameter);
      border-radius: 50%;
      background-color: var(--sgbp-checkboxSwitch--activeColor);
    }

    &:hover {
      &:after {
        //font-weight: bold;
      }
    }
  }

  &__control:checked + &__switch {
    justify-content: flex-end;
    background-color: var(--sgbp-checkboxSwitch--activeColor);

    &:after {
      background-color: var(--sgbp-checkboxSwitch--inactiveColor);
    }
  }

  &:focus-within &__switch,
  &__control:focus + &__switch {
    box-shadow: 0 0 0 3px var(--sgbp-checkboxSwitch--focusShadowColor);
  }

  &__control[disabled] + &__switch {
    --sgbp-checkboxSwitch--borderColor: var(--sgbp-color-gray-50);
    --sgbp-checkboxSwitch--activeColor: var(--sgbp-color-gray-25);
    --sgbp-checkboxSwitch--inactiveColor: var(--sgbp-color-gray-50);
  }
}
