.sgbp-checkboxSwitch {
  &__control {
    // do not use display: none because that would prevent the control from being tab-activatable (it would lose its tabindex so to say)
    position: absolute;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__switch {
    transition: background-color 200ms;
    position: relative;
    appearance: none;
    outline: none;
    width: 30px;
    height: 10px;
    background-color: var(--sgbp-color-gray-medium);
    box-shadow: inset 15px 0 0 0 var(--sgbp-color-gray-medium);
    border-radius: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px; // avoid cut-off shadows in overflow:hidden containers
    cursor: pointer;

    &::after {
      transition: background-color 200ms;
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      background: var(--sgbp-color-gray-medium);
      width: 17px;
      height: 17px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px var(--sgbp-color-darken-light);
    }
  }

  &__control:checked + &__switch {
    background-color: var(--sgbp-color-accent);
    box-shadow: inset 15px 0 0 0 var(--sgbp-color-accent-alternate);
  }

  &__control:checked + &__switch::after {
    right: 0;
    left: auto;
    background-color: var(--sgbp-color-accent);
  }

  &__control[disabled] + &__switch {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
