// sass-lint:disable no-important
.sgbp-color {
  &--primary {
    color: $sgbp-color-brand-primary;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-brand-primary !important;
    }
  }

  &--secondary {
    color: $sgbp-color-brand-secondary;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-brand-secondary !important;
    }
  }

  &--gray {
    color: $sgbp-color-gray;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-gray !important;
    }
  }

  &--mediumGray {
    color: $sgbp-color-gray-medium;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-gray-medium !important;
    }
  }

  &--white {
    color: $sgbp-color-white;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-white !important;
    }
  }

  &--error {
    color: $sgbp-color-error;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: $sgbp-color-error !important;
    }
  }
}
