// sass-lint:disable no-important
.sgbp-color {
  &--accent {
    color: var(--sgbp-color-accent);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-accent) !important;
    }
  }

  &--highlight {
    color: var(--sgbp-color-highlight);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-highlight) !important;
    }
  }

  &--gray {
    color: var(--sgbp-color-gray);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-gray) !important;
    }
  }

  &--mediumGray {
    color: var(--sgbp-color-gray-medium);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-gray-medium) !important;
    }
  }

  &--white {
    color: var(--sgbp-color-white);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-white) !important;
    }
  }

  &--error {
    color: var(--sgbp-color-error);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-error) !important;
    }
  }
}

.sgbp-backgroundColor {
  &--accent {
    background-color: var(--sgbp-color-accent);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-accent) !important;
    }
  }

  &--highlight {
    background-color: var(--sgbp-color-highlight);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-highlight) !important;
    }
  }

  &--gray {
    background-color: var(--sgbp-color-gray);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-gray) !important;
    }
  }

  &--mediumGray {
    background-color: var(--sgbp-color-gray-medium);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-gray-medium) !important;
    }
  }

  &--white {
    background-color: var(--sgbp-color-white);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-white) !important;
    }
  }

  &--error {
    background-color: var(--sgbp-color-error);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      background-color: var(--sgbp-color-error) !important;
    }
  }
}
