:root {
  --sgbp-col-margin: 14px;
  --sgbp-col-margin-small: 8px;
  --sgbp-col-margin-big: 28px;
}

.sgbp-col {
  display: inline-flex;

  margin-right: var(--sgbp-col-margin);

  &--smallMargin {
    margin-right: var(--sgbp-col-margin-small);
  }

  &--bigMargin {
    margin-right: var(--sgbp-col-margin-big);
  }

  &--withSeparator {
    border-right: 1px solid var(--sgbp-color-gray-medium);
    padding-right: calc(var(--sgbp-col-margin) / 1.65);
    margin-right: calc(var(--sgbp-col-margin) / 2.5);

    &.sgbp-col--smallMargin {
      padding-right: calc(var(--sgbp-col-margin-small) / 1.4);
      margin-right: calc(var(--sgbp-col-margin-small) / 2.8);
    }

    &.sgbp-col--bigMargin {
      padding-right: calc(var(--sgbp-col-margin-big) / 1.75);
      margin-right: calc(var(--sgbp-col-margin-big) / 2.5);
    }
  }

  &--inverse {
    margin-right: 0;
    margin-left: var(--sgbp-col-margin);


    &.sgbp-col--smallMargin {
      margin-left: var(--sgbp-col-margin-small);
    }

    &.sgbp-col--bigMargin {
      margin-left: var(--sgbp-col-margin-big);
    }

    &.sgbp-col--withSeparator {
      padding-right: 0;
      border-right: none;

      border-left: 1px solid var(--sgbp-color-gray-medium);
      padding-left: calc(var(--sgbp-col-margin) / 1.65);
      margin-left: calc(var(--sgbp-col-margin) / 2.5);

      &.sgbp-col--smallMargin {
        padding-left: calc(var(--sgbp-col-margin-small) / 1.4);
        margin-left: calc(var(--sgbp-col-margin-small) / 2.8);
      }

      &.sgbp-col--bigMargin {
        padding-left: calc(var(--sgbp-col-margin-big) / 1.75);
        margin-left: calc(var(--sgbp-col-margin-big) / 2.5);
      }
    }
  }
}
