// sass-lint:disable no-important
.sgbp-color {
  &--accent {
    color: var(--sgbp-color-accent);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-accent) !important;
    }
  }

  &--highlight {
    color: var(--sgbp-color-highlight);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-highlight) !important;
    }
  }

  &--white {
    color: var(--sgbp-color-white);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-white) !important;
    }
  }

  &--black {
    color: var(--sgbp-color-black);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-black) !important;
    }
  }

  &--gray {
    color: var(--sgbp-color-gray);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-gray) !important;
    }
  }

  &--mediumGray {
    color: var(--sgbp-color-gray-medium);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-gray-medium) !important;
    }
  }

  &--success {
    color: var(--sgbp-color-success);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-success) !important;
    }
  }

  &--warning {
    color: var(--sgbp-color-warning);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-warning) !important;
    }
  }

  &--error {
    color: var(--sgbp-color-error);

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: var(--sgbp-color-error) !important;
    }
  }

  &--inherit {
    color: inherit;

    &.sgbp-color--force,
    &.sgbp-color--force * {
      color: inherit !important;
    }
  }
}

.sgbp-backgroundColor {
  &--accent {
    background-color: var(--sgbp-color-accent);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-accent) !important;
    }
  }

  &--highlight {
    background-color: var(--sgbp-color-highlight);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-highlight) !important;
    }
  }

  &--gray {
    background-color: var(--sgbp-color-gray);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-gray) !important;
    }
  }

  &--white {
    background-color: var(--sgbp-color-white);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-white) !important;
    }
  }

  &--black {
    background-color: var(--sgbp-color-black);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-black) !important;
    }
  }

  &--success {
    background-color: var(--sgbp-color-success);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-success) !important;
    }
  }

  &--warning {
    background-color: var(--sgbp-color-warning);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-warning) !important;
    }
  }

  &--error {
    background-color: var(--sgbp-color-error);

    &.sgbp-backgroundColor--force,
    &.sgbp-backgroundColor--force * {
      background-color: var(--sgbp-color-error) !important;
    }
  }
}
