@mixin sgbpDefinitionListWidth($_width) {
  $_minScreenWidthInPx: #{($_width + 100)}px;
  $_widthInPx: #{$_width}px;

  @media all and (min-width: #{$_minScreenWidthInPx}) {
    .sgbp-definitionList--horizontal.sgbp-definitionList--#{$_width} {
      .sgbp-definitionList__term {
        flex-basis: $_widthInPx;
      }

      .sgbp-definitionList__definition {
        flex-basis: calc(100% - #{$_widthInPx} - var(--sgbp-default-margin));

        & + .sgbp-definitionList__definition {
          margin-left: calc(#{$_widthInPx} + var(--sgbp-default-margin));
        }
      }
    }
  }
}

@include sgbpDefinitionListWidth(50);
@include sgbpDefinitionListWidth(100);
@include sgbpDefinitionListWidth(150);
@include sgbpDefinitionListWidth(200);
@include sgbpDefinitionListWidth(250);

.sgbp-definitionList {
  &__term {
    @include sgbp-uppercase;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: var(--sgbp-color-gray);
  }

  .sgbp-definitionList__definition {
    margin-bottom: 1.4em;

    & + .sgbp-definitionList__definition {
      margin-top: -0.8em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .sgbp-definitionList__term {
      @include sgbp-truncateLine;
      flex: 0 0 auto;
      margin-right: var(--sgbp-default-margin);
    }

    .sgbp-definitionList__definition {
      flex: 0 0 auto;
      margin-bottom: 15px;

      & + .sgbp-definitionList__definition {
        margin-left: 154px;
      }
    }
  }

  &--darkBackground &__term {
    color: var(--sgbp-color-white);
  }
}
