.sgbp-float {
  &--clear::after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  &--inText {
    margin-bottom: 0.3rem;
  }

  &--left {
    float: left;

    &.sgbp-float--inText {
      margin-right: 0.5rem;
    }
  }

  &--right {
    float: right;

    &.sgbp-float--inText {
      margin-left: 0.5rem;
    }
  }

  &--smallCenter {
    @media #{$sgbp-s-down} {
      float: none;
      display: block;

      &.sgbp-float--inText {
        text-align: center;

        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--tinyCenter {
    @media #{$sgbp-xs-only} {
      float: none;
      display: block;

      &.sgbp-float--inText {
        text-align: center;

        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
