.sgbp-headline {
  font-family: $sgbp-headings-font-family;
  font-weight: $sgbp-headings-font-weight;
  letter-spacing: $sgbp-headings-letter-spacing;
  margin-top: 0;
  margin-bottom: 0;

  line-height: $sgbp-headings-line-height-screen-tiny;

  @media #{$sgbp-medium-up} {
    line-height: $sgbp-headings-line-height;
  }

  &--primary {
    color: $sgbp-color-brand-primary;
  }

  &--secondary {
    color: $sgbp-color-brand-secondary;
  }

  &__addendum {
    letter-spacing: 0;
    line-height: 1;
    opacity: 0.7;
  }

  &--h0 {
    font-size: $sgbp-font-size-h0-screen-tiny;
    text-transform: $sgbp-text-transform-h0;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h0-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h0;
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h1 {
    font-size: $sgbp-font-size-h1-screen-tiny;
    text-transform: $sgbp-text-transform-h1;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h1-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h1;
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h2 {
    font-size: $sgbp-font-size-h2-screen-tiny;
    text-transform: $sgbp-text-transform-h2;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h2-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h2;
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h3 {
    font-size: $sgbp-font-size-h3-screen-tiny;
    text-transform: $sgbp-text-transform-h3;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h3-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h3;
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h4 {
    font-size: $sgbp-font-size-h4-screen-tiny;
    text-transform: $sgbp-text-transform-h4;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h4-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h4;
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--h5 {
    font-size: $sgbp-font-size-h5-screen-tiny;
    text-transform: $sgbp-text-transform-h5;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h5-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h5;
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--h6 {
    font-size: $sgbp-font-size-h6-screen-tiny;
    text-transform: $sgbp-text-transform-h6;

    @media #{$sgbp-medium-up} {
      font-size: $sgbp-font-size-h6-screen-small;
    }

    @media #{$sgbp-large-up} {
      font-size: $sgbp-font-size-h6;
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--label {
    display: inline-block;
    padding: 0.3em 0.3em 0.2em 0.3em;
    background: $sgbp-color-black;
    color: $sgbp-color-white;
    text-transform: uppercase;
  }
}

.sgbp-headline--text {
  &.sgbp-headline--h1,
  &.sgbp-headline--h2,
  &.sgbp-headline--h3,
  &.sgbp-headline--h4,
  &.sgbp-headline--h5,
  &.sgbp-headline--h6 {
    margin-top: ($sgbp-line-height-computed * 1.3);
    margin-bottom: ($sgbp-line-height-computed * 0.75);

    & + & {
      margin-top: 0;
    }

    &.sgbp-headline--firstInText {
      margin-top: 0;
    }
  }
}
