:root {
  --sgbp-headline-light-color: var(--sgbp-color-gray-medium);
}

.sgbp-headline {
  font-family: var(--sgbp-headings-font-family);
  font-weight: var(--sgbp-headings-font-weight);
  letter-spacing: var(--sgbp-headings-letter-spacing);
  margin-top: 0;
  margin-bottom: 0;

  line-height: var(--sgbp-headings-line-height-screen-tiny);

  @media #{$sgbp-medium-up} {
    line-height: var(--sgbp-headings-line-height);
  }

  &--accent {
    color: var(--sgbp-color-accent);
  }

  &--highlight {
    color: var(--sgbp-color-highlight);
  }

  &--light {
    color: var(--sgbp-headline-light-color);
  }

  &__addendum {
    letter-spacing: 0;
    line-height: 1;
    opacity: 0.7;
  }

  &--h0 {
    font-size: var(--sgbp-font-size-h0-screen-tiny);
    text-transform: var(--sgbp-text-transform-h0);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h0-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h0);
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h1 {
    font-size: var(--sgbp-font-size-h1-screen-tiny);
    text-transform: var(--sgbp-text-transform-h1);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h1-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h1);
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h2 {
    font-size: var(--sgbp-font-size-h2-screen-tiny);
    text-transform: var(--sgbp-text-transform-h2);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h2-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h2);
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h3 {
    font-size: var(--sgbp-font-size-h3-screen-tiny);
    text-transform: var(--sgbp-text-transform-h3);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h3-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h3);
    }

    .sgbp-headline__addendum {
      font-size: 65%;
    }
  }

  &--h4 {
    font-size: var(--sgbp-font-size-h4-screen-tiny);
    text-transform: var(--sgbp-text-transform-h4);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h4-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h4);
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--h5 {
    font-size: var(--sgbp-font-size-h5-screen-tiny);
    text-transform: var(--sgbp-text-transform-h5);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h5-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h5);
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--h6 {
    font-size: var(--sgbp-font-size-h6-screen-tiny);
    text-transform: var(--sgbp-text-transform-h6);

    @media #{$sgbp-medium-up} {
      font-size: var(--sgbp-font-size-h6-screen-small);
    }

    @media #{$sgbp-large-up} {
      font-size: var(--sgbp-font-size-h6);
    }

    .sgbp-headline__addendum {
      font-size: 75%;
    }
  }

  &--label {
    display: inline-block;
    padding: 0.3em 0.3em 0.2em 0.3em;
    background: var(--sgbp-color-black);
    color: var(--sgbp-color-white);
    text-transform: uppercase;
  }
}

.sgbp-headline--text {
  &.sgbp-headline--h1,
  &.sgbp-headline--h2,
  &.sgbp-headline--h3,
  &.sgbp-headline--h4,
  &.sgbp-headline--h5,
  &.sgbp-headline--h6 {
    margin-top: calc(var(--sgbp-line-height-computed) * 1.3);
    margin-bottom: calc(var(--sgbp-line-height-computed) * 0.75);

    & + & {
      margin-top: 0;
    }

    &.sgbp-headline--firstInText {
      margin-top: 0;
    }
  }
}
