@use "../mixins/hover";
@use "../settings";

:root {
  --sgbp-icon-font-size-xs: 11.8px;
  --sgbp-icon-font-size-s: 13px;
  --sgbp-icon-font-size-m: 15px;
  --sgbp-icon-font-size: 20px;
  --sgbp-icon-font-size-l: 24px;
  --sgbp-icon-font-size-xl: 28px;
  --sgbp-icon-color: inherit;
  --sgbp-icon-circle-padding: 3px;
  --sgbp-icon-circle-color: currentColor;
  --sgbp-icon-circle-borderColor: currentColor;
  --sgbp-icon-circle-backgroundColor: var(--sgbp-color-transparent);
}

.sgbp-icon {
  display: inline-flex;
  align-items: center;

  width: 1em;
  height: 1em;
  font-size: var(--sgbp-icon-font-size);
  text-align: center;

  color: var(--sgbp-icon-color);
  fill: currentColor;

  &[data-size='xs'],
  &--xs {
    --sgbp-icon-font-size: var(--sgbp-icon-font-size-xs);
    --sgbp-icon-circle-padding: 1px;
  }

  &[data-size='s'],
  &--s {
    --sgbp-icon-font-size: var(--sgbp-icon-font-size-s);
    --sgbp-icon-circle-padding: 2px;
  }

  &[data-size='m'],
  &--m {
    --sgbp-icon-font-size: var(--sgbp-icon-font-size-m);
    --sgbp-icon-circle-padding: 3px;
  }

  &[data-size='l'],
  &--l {
    --sgbp-icon-font-size: var(--sgbp-icon-font-size-l);
    --sgbp-icon-circle-padding: 4px;
  }

  &[data-size='xl'],
  &--xl {
    --sgbp-icon-font-size: var(--sgbp-icon-font-size-xl);
    --sgbp-icon-circle-padding: 6px;
  }

  &--accent {
    --sgbp-icon-color: var(--sgbp-color-accent);
    &.sgbp-icon--inverted {
      --sgbp-icon-color: var(--sgbp-color-accent-inverted);
    }
  }

  &--warning {
    --sgbp-icon-color: var(--sgbp-color-warning);
    &.sgbp-icon--inverted {
      --sgbp-icon-color: var(--sgbp-color-warning-inverted);
    }
  }

  &--error {
    --sgbp-icon-color: var(--sgbp-color-error);
    &.sgbp-icon--inverted {
      --sgbp-icon-color: var(--sgbp-color-error-inverted);
    }
  }

  &--light {
    --sgbp-icon-color: var(--sgbp-color-gray-200);
    --sgbp-icon-circle-color: var(--sgbp-color-gray-200);
  }

  &--highlight {
    --sgbp-icon-color: var(--sgbp-color-highlight);
    &.sgbp-icon--inverted {
      --sgbp-icon-color: var(--sgbp-color-highlight-inverted);
    }
  }

  &--hoverAccent {
    @include hover.sgbp-hover(var(--sgbp-color-accent));
  }

  &--bottom {
    vertical-align: bottom;
  }

  &--sub {
    vertical-align: sub;
  }

  &--circle {
    box-sizing: content-box;
    border-radius: 50%;
    overflow: visible;
    padding: var(--sgbp-icon-circle-padding);
    font-size: calc(var(--sgbp-icon-font-size-xs) - var(--sgbp-icon-circle-padding));
    border: 2px solid var(--sgbp-icon-circle-borderColor);
    background-color: var(--sgbp-icon-circle-backgroundColor);
    color: var(--sgbp-icon-circle-color);

    &.sgbp-icon--inverted {
      --sgbp-icon-circle-backgroundColor: var(--sgbp-color-white);
      --sgbp-icon-circle-color: var(--sgbp-color-black);
      --sgbp-icon-circle-borderColor: var(--sgbp-color-white);
    }

    &.sgbp-icon--accent {
      --sgbp-icon-circle-color: var(--sgbp-color-accent);
      --sgbp-icon-circle-backgroundColor: var(--sgbp-color-accent-inverted);
      --sgbp-icon-circle-borderColor: var(--sgbp-color-accent);

      &.sgbp-icon--inverted {
        --sgbp-icon-circle-color: var(--sgbp-color-accent-inverted);
        --sgbp-icon-circle-backgroundColor: var(--sgbp-color-accent);
        --sgbp-icon-circle-borderColor: var(--sgbp-color-accent);
      }
    }

    &.sgbp-icon--highlight {
      --sgbp-icon-circle-color: var(--sgbp-color-highlight);
      --sgbp-icon-circle-backgroundColor: var(--sgbp-color-highlight-inverted);
      --sgbp-icon-circle-borderColor: var(--sgbp-color-highlight);

      &.sgbp-icon--inverted {
        --sgbp-icon-circle-color: var(--sgbp-color-highlight-inverted);
        --sgbp-icon-circle-backgroundColor: var(--sgbp-color-highlight);
        --sgbp-icon-circle-borderColor: var(--sgbp-color-highlight-inverted);
      }
    }

    &.sgbp-icon--borderless {
      --sgbp-icon-circle-borderColor: var(--sgbp-color-transparent);
    }
  }

  &--lightGrayCircle {
    --sgbp-icon-circle-borderColor: var(--sgbp-color-gray-50);
  }

  &--lightCircle {
    --sgbp-icon-circle-borderColor: var(--sgbp-color-semiTransparent-3);
  }
}
