html {
  --sgbp-imageTeaser-padding: var(--sgbp-default-margin-small);
}

.sgbp-imageTeaser {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 140px;

  padding: var(--sgbp-imageTeaser-padding);

  background-size: cover;
  color: var(--sgbp-color-white);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 40%, var(--sgbp-color-darken) 60%, var(--sgbp-color-black) 100%);
    opacity: 0.6;
  }

  &__title {
    color: var(--sgbp-color-white);
    position: relative;
    z-index: 1;
  }
}
