$sgbp-inputGroup-label-color: $sgbp-color-gray !default;
$sgbp-inputGroup-error-color: $sgbp-color-white !default;
$sgbp-inputGroup-error-background-color: $sgbp-color-error !default;
$sgbp-inputGroup--constrained-max-width: 600px !default;
$sgbp-inputGroup-label-font-weight: normal !default;
$sgbp-inputGroup-alignedButton-margin-top: 25px !default;

.sgbp-inputGroup {
  position: relative;
  display: block;

  &.has-errors {
    border: 1px solid $sgbp-color-error;
  }

  & + & {
    margin-top: $sgbp-default-margin-big;
  }

  &--constrainedWidth {
    @media #{$sgbp-large-up} {
      max-width: $sgbp-inputGroup--constrained-max-width;
    }
  }

  &__label {
    display: block;
    margin-left: 0.1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-weight: $sgbp-inputGroup-label-font-weight;
    color: $sgbp-inputGroup-label-color;
  }

  &__subtext {
    display: block;
    width: 100%;
    padding: 5px 3px 3px 5px;
    font-size: 0.8rem;

    &--error {
      background-color: $sgbp-inputGroup-error-background-color;
      color: $sgbp-inputGroup-error-color;
    }
  }

  &__alignedButton {
    margin-top: $sgbp-inputGroup-alignedButton-margin-top;
  }
}
