html {
  --sgbp-inputAddon-background-color: var(--sgbp-color-gray-light);
}

.sgbp-inputAddon {
  display: flex;
  align-items: stretch;

  &__input {
    flex: 1 1 auto;
  }

  &__addon {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 2em;
    font-size: 0.9em;
    background-color: var(--sgbp-inputAddon-background-color);
    color: var(--sgbp-input-color);
    border-style: solid;
    border-radius: var(--sgbp-input-border-radius);
    border-width: var(--sgbp-input-border-width);
    border-color: var(--sgbp-input-border-color);

    &--accent {
      background-color: var(--sgbp-color-accent);
      color: var(--sgbp-color-accent-inverted);
    }

    &:first-child {
      border-right: none;
      margin-right: calc(var(--sgbp-input-border-width) * -1);
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-left: none;
      margin-left: calc(var(--sgbp-input-border-width) * -1);
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__input.is-disabled + &__addon,
  &__input[disabled] + &__addon,
  &__input.is-disabled + &__addon,
  &__input[readonly] + &__addon {
    border-color: var(--sgbp-input-border-color-disabled);
  }
}
