:root {
  --sgbp-input-color: var(--sgbp-color-gray-500);
  --sgbp-input-placeholder-color: var(--sgbp-color-gray-300);
  --sgbp-input-height: 48px;
  --sgbp-input-small-height: 32px;
  --sgbp-input-big-height: 56px;
  --sgbp-input-padding-horizontal: 16px;
  --sgb-input-padding-vertical: 0;
  --sgb-input-textarea-padding-vertical: var(--sgbp-spacing-xs);
  --sgbp-input-background-color: var(--sgbp-color-white);
  --sgbp-input-error-color: var(--sgbp-danger-color);
  --sgbp-input-border-radius: 10px;
  --sgbp-input-border-color: var(--sgbp-color-gray-50);
  --sgbp-input-border-width: 1.5px;
  --sgbp-input-font-size: var(--sgbp-font-size-base);
  --sgbp-input-font-weight: normal;
}

.sgbp-input {
  width: 100%;
  flex: 1 1 auto;

  outline: 0;
  padding-right: var(--sgbp-input-padding-horizontal);
  padding-left: var(--sgbp-input-padding-horizontal);
  padding-top: var(--sgb-input-padding-vertical);
  padding-bottom: var(--sgb-input-padding-vertical);
  height: var(--sgbp-input-height);

  font-size: var(--sgbp-input-font-size);
  font-weight: var(--sgbp-input-font-weight);
  background-color: var(--sgbp-input-background-color);
  color: var(--sgbp-input-color);

  border-style: solid;
  border-radius: var(--sgbp-input-border-radius);
  border-width: var(--sgbp-input-border-width);
  border-color: var(--sgbp-input-border-color);
  min-width: 4rem;

  &::placeholder {
    color: var(--sgbp-input-placeholder-color);
  }

  &[disabled],
  &.is-disabled {
    --sgbp-input-color: var(--sgbp-color-gray-50);
    cursor: not-allowed;
  }

  &:hover:not([disabled]):not(.is-disabled):not(.is-invalid) {
    --sgbp-input-border-color: var(--sgbp-color-gray-100);
    --sgbp-input-color: var(--sgbp-color-gray-500);
  }

  &:focus {
    --sgbp-input-border-color: var(--sgbp-color-gray-100);
    --sgbp-input-color: var(--sgbp-color-gray-base);
    box-shadow: 0 0 0 3px var(--sgbp-color-gray-50-opactiy-60);
  }

  &.is-invalid,
  &--stateful.is-dirty:invalid {
    --sgbp-input-color: var(--sgbp-input-error-color);
    --sgbp-input-border-color: var(--sgbp-input-error-color);
  }

  &--big {
    --sgbp-input-font-size: calc(1.1 * var(--sgbp-input-font-size));
    --sgbp-input-height: var(--sgbp-input-big-height);
  }

  &--inline {
    width: auto;
  }
}

textarea.sgbp-input {
  --sgb-input-padding-vertical: var(--sgb-input-textarea-padding-vertical);
}

input[type='text'].sgbp-input,
input[type='email'].sgbp-input,
input[type='password'].sgbp-input {
  appearance: none;
}
