:root {
  --sgbp-inputGroup-label-color: var(--sgbp-color-gray);
  --sgbp-inputGroup-error-color: var(--sgbp-color-white);
  --sgbp-inputGroup-error-background-color: var(--sgbp-color-error);
  --sgbp-inputGroup--constrained-max-width:  600px;
  --sgbp-inputGroup-label-font-weight:  normal;
  --sgbp-inputGroup-alignedButton-margin-top:  25px;
}

.sgbp-inputGroup {
  position: relative;
  display: block;

  &.has-errors {
    border: 1px solid var(--sgbp-color-error);
  }

  & + & {
    margin-top: var(--sgbp-default-margin-big);
  }

  &--constrainedWidth {
    @media #{$sgbp-large-up} {
      max-width: var(--sgbp-inputGroup--constrained-max-width);
    }
  }

  &__label {
    display: block;
    margin-left: 0.1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-weight: var(--sgbp-inputGroup-label-font-weight);
    color: var(--sgbp-inputGroup-label-color);
  }

  &__subtext {
    display: block;
    width: 100%;
    padding: 5px 3px 3px 5px;
    font-size: 0.8rem;

    &--error {
      background-color: var(--sgbp-inputGroup-error-background-color);
      color: var(--sgbp-inputGroup-error-color);
    }
  }

  &__alignedButton {
    margin-top: var(--sgbp-inputGroup-alignedButton-margin-top);
  }
}
