$length: 1.1em;
:root {
  --sgbp-keyValueList-font-weight-key: normal;
  --sgbp-keyValueList-font-weight-value: bold;
  --sgbp-keyValueList-color-key: var(--sgbp-color-gray-medium);
  --sgbp-keyValueList-color-border: var(--sgbp-keyValueList-color-key);
  --sgbp-keyValueList-text-transform-key: inherit;
  --sgbp-keyValueList-font-size-key: 0.9em;
  --sgbp-keyValueList-font-size-value: 1.0em;
}

@mixin sgbp-keyValueList-horizontal {
  display: flex;
  justify-content: center;

  .sgbp-keyValueList {
    &__item {
      text-align: center;

      & + .sgbp-keyValueList__item {
        margin-top: 0;
        margin-left: var(--sgbp-default-margin);
        padding-left: var(--sgbp-default-margin);
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: var(--sgbp-keyValueList-color-key);
      }
    }
  }
}

.sgbp-keyValueList {

  &--emphasizedKeys {
    --sgbp-keyValueList-font-weight-value: normal;
    --sgbp-keyValueList-font-weight-key: bold;
    --sgbp-keyValueList-text-transform-key: uppercase;
  }


  &__item {
    display: flex;
    flex-direction: column;
  }

  &__key {
    order: 2;
    font-size: var(--sgbp-keyValueList-font-size-key);
    font-weight: var(--sgbp-keyValueList-font-weight-key);
  }

  &__value {
    order: 1;
    font-size: var(--sgbp-keyValueList-font-size-value);
    font-weight: var(--sgbp-keyValueList-font-weight-value);
  }

  .sgbp-keyValueList__item + .sgbp-keyValueList__item {
    margin-top: var(--sgbp-default-margin);
  }

  .sgbp-keyValueList__key {
    color: var(--sgbp-keyValueList-color-key);
    text-transform: var(--sgbp-keyValueList-text-transform-key);
  }

  &--horizontal {
    @include sgbp-keyValueList-horizontal;
  }

  &--horizontalMediumUp {
    @media #{$sgbp-medium-up} {
      @include sgbp-keyValueList-horizontal;
    }
  }

  &--horizontalLargeUp {
    @media #{$sgbp-large-up} {
      @include sgbp-keyValueList-horizontal;
    }
  }
}
