@mixin sgbp-keyValueList-horizontal {
  display: flex;
  justify-content: center;

  .sgbp-keyValueList {
    &__key {
      color: var(--sgbp-color-black);
    }

    &__item {
      text-align: center;

      & + .sgbp-keyValueList__item {
        margin-top: 0;
        margin-left: var(--sgbp-default-margin);
        padding-left: var(--sgbp-default-margin);
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: inherit;
      }
    }

    &__value {
      font-weight: bold;
    }
  }
}
.sgbp-keyValueList {
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__key {
    order: 2;
    font-size: 0.9em;
  }

  &__value {
    order: 1;
    font-size: 1.1em;
  }

  .sgbp-keyValueList__item + .sgbp-keyValueList__item {
    margin-top: var(--sgbp-default-margin);
  }

  .sgbp-keyValueList__key {
    color: var(--sgbp-color-gray);
  }

  &--horizontal {
    @include sgbp-keyValueList-horizontal;
  }

  &--horizontalMediumUp {
    @media #{$sgbp-medium-up} {
      @include sgbp-keyValueList-horizontal;
    }
  }

  &--horizontalLargeUp {
    @media #{$sgbp-large-up} {
      @include sgbp-keyValueList-horizontal;
    }
  }
}
