:root {
  --sgbp-loading-container-dialog-background: var(--sgbp-color-transparent);
  --sgbp-loading-container-blocking-background: var(--sgbp-color-darken-light);
}

.sgbp-loadingContainer {
  position: relative;
  min-height: 40px;

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: transform 300ms;
    transform: scale(0);
    background-color: var(--sgbp-loading-container-dialog-background);
  }

  &__loadingIndicator {
    position: absolute !important; /* !important to override relative positioning from sgbp-loadingContainer component */
  }

  &.is-loading {
    .sgbp-loadingContainer__loader {
      z-index: var(--sgbp-loading-container-z-index);
      transform: scale(1);
    }

    .sgbp-loadingContainer__loadingIndicator {
      pointer-events: all;
    }
  }

  &.is-blocking.is-loading {
    pointer-events: none;

    > .sgbp-loadingContainer__loader {
      background-color: var(--sgbp-loading-container-blocking-background);
    }
  }
}
