:root {
  --sgbp-loading-indicator-color: var(--sgbp-color-brand-primary);
  --sgbp-loading-indicator-border-color:  rgba(0, 0, 0, 0.08);
  --sgbp-loading-indicator-border-width: 3px;
}

.sgbp-loadingIndicator {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-width: var(--sgbp-loading-indicator-border-width);
  border-style: solid;
  border-color: var(--sgbp-loading-indicator-border-color);
  border-top-color: var(--sgbp-loading-indicator-color);
  animation: sgbp-loading-rotate 1s infinite cubic-bezier(0.185, 0.335, 0.25, 0.96);

  @keyframes sgbp-loading-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
