:root {
  --sgbp-loading-indicator-color: var(--sgbp-color-transparent);
  --sgbp-loading-indicator-border-color: var(--sgbp-color-accent);
  --sgbp-loading-indicator-border-color2: var(--sgbp-color-accent-alternate);
  --sgbp-loading-indicator-borderWidth-size-s: 1px;
  --sgbp-loading-indicator-borderWidth-size-m: 3px;
  --sgbp-loading-indicator-borderWidth-size-l: 4px;
  --sgbp-loading-indicator-borderRadius-s: 25px;
  --sgbp-loading-indicator-borderRadius-m: 90px;
  --sgbp-loading-indicator-borderRadius-l: 180px;
  --sgbp-loading-indicator-innerCirclePadding-s: 8px;
  --sgbp-loading-indicator-innerCirclePadding-m: 10px;
  --sgbp-loading-indicator-innerCirclePadding-l: 20px;
  --sgbp-loading-indicator-fontSize-s: 0;
  --sgbp-loading-indicator-fontSize-m: 12px;
  --sgbp-loading-indicator-fontSize-l: 22px;
}

.sgbp-loadingIndicator {
  --radius: var(--sgbp-loading-indicator-borderRadius-m);
  --borderWidth: var(--sgbp-loading-indicator-borderWidth-size-m);
  --fontSize: var(--sgbp-loading-indicator-fontSize-m);
  --innerCirclePadding: var(--sgbp-loading-indicator-innerCirclePadding-m);
  position: relative;
  z-index: 1;
  width: var(--radius);
  height: var(--radius);
  font-size: var(--fontSize);
  font-family: var(--sgbp-headings-font-family);
  font-weight: var(--sgbp-headings-font-weight);

  display: flex;
  align-items: center;
  justify-content: center;


  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--sgbp-color-lighten);
    transform-origin: center center;
    display: block;
    border-radius: 50%;
    border-width: var(--borderWidth);
    border-style: solid;
  }

  &::before {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-color: var(--sgbp-loading-indicator-border-color);
    border-top-color: var(--sgbp-loading-indicator-color);
    border-bottom-color: var(--sgbp-loading-indicator-border-color2);
    animation: sgbp-loading-rotate 1s infinite cubic-bezier(0.185, 0.335, 0.25, 0.96);
  }

  &::after {
    top: var(--innerCirclePadding);
    right: var(--innerCirclePadding);
    left: var(--innerCirclePadding);
    bottom: var(--innerCirclePadding);
    border-color: var(--sgbp-loading-indicator-border-color);
    border-top-color: var(--sgbp-loading-indicator-color);
    border-bottom-color: var(--sgbp-loading-indicator-border-color2);
    animation: sgbp-loading-rotate 2s infinite cubic-bezier(0.085, 0.335, 0.25, 0.96);
  }

  &--sizeS {
    --radius: var(--sgbp-loading-indicator-borderRadius-s);
    --borderWidth: var(--sgbp-loading-indicator-borderWidth-size-s);
    --fontSize: var(--sgbp-loading-indicator-fontSize-s);
    --innerCirclePadding: var(--sgbp-loading-indicator-innerCirclePadding-s);
  }

  &--sizeL {
    --radius: var(--sgbp-loading-indicator-borderRadius-l);
    --borderWidth: var(--sgbp-loading-indicator-borderWidth-size-l);
    --fontSize: var(--sgbp-loading-indicator-fontSize-l);
    --innerCirclePadding: var(--sgbp-loading-indicator-innerCirclePadding-l);
  }

  @keyframes sgbp-loading-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
