:root {
  --sgbp-menuToggle-size: 1.75em;
  --sgbp-menuToggle-line-width: calc(var(--sgbp-menuToggle-size) / 12);
}

.sgbp-menuTogglePlaceholder {
  display: block;
  width: var(--sgbp-menuToggle-size);
  height: var(--sgbp-menuToggle-size);
}

.sgbp-menuToggle {
  display: block;
  width: var(--sgbp-menuToggle-size);
  height: var(--sgbp-menuToggle-size);
  position: relative;
  cursor: pointer;

  &__line {
    height: var(--sgbp-menuToggle-line-width);
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    transition: transform;
    transition-duration: 0.5s, 0.25s;

    &:nth-child(2) {
      top: calc(var(--sgbp-menuToggle-size) / 5 * 2);
    }

    &:nth-child(3) {
      top: calc(var(--sgbp-menuToggle-size) / 5 * 4);
    }
  }

  &.is-open &__line:nth-child(1) {
    transform: translateY(calc(var(--sgbp-menuToggle-size) / 5 * 2)) rotate(45deg);
  }

  &.is-open &__line:nth-child(2) {
    opacity: 0;
  }

  &.is-open &__line:nth-child(3) {
    transform: translateY(calc(var(--sgbp-menuToggle-size) / 5 * -2)) rotate(-45deg);
  }
}
