@use "../functions/vh";
@use "../settings";

:root {
  --sgbp-modal-transform-origin: center;
  --sgbp-modal-margin: var(--sgbp-spacing-s);
  --sgbp-modal-border-radius: 24px;
  --sgbp-modal-padding-horizontal: 24px;
  --sgbp-modal-padding-content-vertical: 26px;
  --sgbp-modal-headerfooter-padding-outer-vertical: 24px;
  --sgbp-modal-headerfooter-padding-inner-vertical: 24px;
  --sgbp-modal-separator-color: var(--sgbp-color-gray-50);

  @media #{settings.$sgbp-xl-up} {
    --sgbp-modal-margin: var(--sgbp-spacing-m);
    --sgbp-modal-border-radius: 48px;
    --sgbp-modal-padding-horizontal: 80px;
    --sgbp-modal-padding-content-vertical: 32px;
    --sgbp-modal-headerfooter-padding-outer-vertical: 56px;
    --sgbp-modal-headerfooter-padding-inner-vertical: 40px;
  }
}

.sgbp-modal {
  transition: opacity 300ms;
  position: fixed;
  z-index: -999;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sgbp-color-darken);
  font-size: var(--sgbp-font-size-base);

  &.is-open {
    z-index: var(--sgbp-modal-z-index);
    opacity: 1;
    pointer-events: all;

    &.is-top {
      z-index: calc(var(--sgbp-modal-z-index) + 1);
    }
  }

  &--inline {
    --sgbp-modal-margin: 0;
    --sgbp-modal-border-radius: 16px;
    --sgbp-modal-padding-horizontal: 24px;
    --sgbp-modal-padding-content-vertical: 24px;
    --sgbp-modal-headerfooter-padding-outer-vertical: 24px;
    --sgbp-modal-headerfooter-padding-inner-vertical: 24px;

    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--sgbp-color-transparent);
  }

  &--inlineRight {
    right: 0;
  }

  &--bottom {
    --sgbp-modal-margin: 0;
    --sgbp-modal-border-radius: 16px 16px 0 0;
    align-items: flex-end;
  }

  &--bottomMDownOnly {
    @media #{settings.$sgbp-m-down} {
      --sgbp-modal-margin: 0;
      --sgbp-modal-border-radius: 16px 16px 0 0;
      align-items: flex-end;
    }
  }

  &--visibleLDownOnly {
    @media #{settings.$sgbp-xl-up} {
      display: none !important;
    }
  }

  &--smallHeader {
    .sgbp-modal__content {
      padding-top: calc(var(--sgbp-modal-padding-content-vertical) / 3);
    }
  }

  &__dialog {
    will-change: transform;
    transition: transform 300ms;
    transform: scale(0);
    transform-origin: var(--sgbp-modal-transform-origin);

    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    border-radius: var(--sgbp-modal-border-radius);

    // sass-lint:disable no-duplicate-properties
    max-height: 100%;
    max-height: calc(#{vh.sgbp-vh(100)} - 2 * var(--sgbp-modal-margin));
    max-width: 100%;
    max-width: 100vw;
    // sass-lint:enable no-duplicate-properties
    margin: var(--sgbp-modal-margin);

    background-color: var(--sgbp-color-white);
    box-shadow: 0px 6px 20px rgba(17, 16, 25, 0.18);
  }

  &__header {
    flex: 0 0 auto;

    padding-left: var(--sgbp-modal-padding-horizontal);
    padding-top: var(--sgbp-modal-headerfooter-padding-outer-vertical);

    .sgbp-modal--withSeparator & {
      padding-bottom: var(--sgbp-modal-headerfooter-padding-inner-vertical);
    }

    padding-right: 64px;
    @media #{settings.$sgbp-xl-up} {
      padding-right: 90px;
    }
  }

  &__closeButton {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: var(--sgbp-color-gray-300);

    top: 23px;
    right: 24px;
    @media #{settings.$sgbp-xl-up} {
      top: 40px;
      right: 40px;
    }
  }

  &__closeIcon {
    color: var(--sgbp-color-gray-300);
    font-size: 22px;
  }

  &__content {
    flex: 1 1 auto;
    padding-left: var(--sgbp-modal-padding-horizontal);
    padding-right: var(--sgbp-modal-padding-horizontal);
    padding-top: var(--sgbp-modal-padding-content-vertical);
    padding-bottom: var(--sgbp-modal-padding-content-vertical);

    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;

    &UnpadTop {
      margin-top: calc(var(--sgbp-modal-padding-content-vertical) * -1);
    }

    &UnpadBottom {
      margin-bottom: calc(var(--sgbp-modal-padding-content-vertical) * -1);
    }

    &UnpadHorizontally {
      margin-left: calc(var(--sgbp-modal-padding-horizontal) * -1);
      margin-right: calc(var(--sgbp-modal-padding-horizontal) * -1);
    }

    &RepadHorizontally {
      padding-left: var(--sgbp-modal-padding-horizontal);
      padding-right: var(--sgbp-modal-padding-horizontal);
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding-left: var(--sgbp-modal-padding-horizontal);
    padding-right: var(--sgbp-modal-padding-horizontal);
    padding-bottom: var(--sgbp-modal-headerfooter-padding-outer-vertical);

    .sgbp-modal--withSeparator & {
      padding-top: var(--sgbp-modal-headerfooter-padding-inner-vertical);
    }

    border-bottom-left-radius: var(--sgbp-modal-border-radius);
    border-bottom-right-radius: var(--sgbp-modal-border-radius);
  }

  &--withSeparator &__header {
    border-bottom: 1.5px solid var(--sgbp-modal-separator-color);
  }

  &--withSeparator &__footer {
    border-top: 1.5px solid var(--sgbp-modal-separator-color);
  }

  &--full &__dialog,
  &__dialog--full {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  &--fullWidth &__dialog {
    width: 100%;
  }

  &--fullHeight &__dialog {
    // sass-lint:disable no-duplicate-properties
    height: 100%;
    height: calc(100% - var(--sgbp-modal-margin) * 2);
    // sass-lint:enable no-duplicate-properties
  }

  &.is-open &__dialog {
    transform: scale(1);
  }

  &--inline &__dialog {
    --sgbp-modal-transform-origin: top left;
    max-height: 40vh;
  }

  &--inlineRight &__dialog {
    --sgbp-modal-transform-origin: top right;
  }

  &--bottom &__dialog {
    transform: translateY(100%);
    max-height: 96vh;
  }
  &--bottom &__footer {
    padding-bottom: 40px;
  }

  &--bottom.is-open &__dialog {
    transform: translateY(0);
  }

  @media #{settings.$sgbp-m-down} {
    &--bottomMDownOnly &__dialog {
      transform: translateY(100%);
      max-height: 96vh;
    }
    &--bottomMDownOnly &__footer {
      padding-bottom: 40px;
    }

    &--bottomMDownOnly.is-open &__dialog {
      transform: translateY(0);
    }
  }

  &--inline &__hiddenInline {
    display: none;
  }
}
