:root {
  --sgbp-pageLayout-header-height: calc(3.92857142857 * var(--sgbp-font-size-text));
  --sgbp-pageLayout-footer-height: 0px;
  --sgbp-pageLayout-header-background-color: var(--sgbp-color-accent);
  --sgbp-pageLayout-main-background-color: var(--sgbp-color-transparent);
}

.sgbp-pageLayout {
  display: flex;
  flex-direction: column;

  &__main,
  &__mainContent,
  &__mainSidebar {
    flex: 1 1 auto;
    min-height: calc(#{sgbp-vh(100)} - var(--sgbp-pageLayout-header-height) - var(--sgbp-pageLayout-footer-height) - 1px);
  }

  &__header {
    //z-index: 2;
    flex: 0 0 auto;
    height: var(--sgbp-pageLayout-header-height);
    background-color: var(--sgbp-pageLayout-header-background-color);
  }

  &__footer {
    flex: 0 0 auto;
    height: var(--sgbp-pageLayout-footer-height);
  }

  &__main {
    z-index: 2;
    display: flex;
    width: 100%;

    background-color: var(--sgbp-pageLayout-main-background-color);

    &Sidebar {
      transition: width 300ms;
      position: relative;
      flex: 0 0 auto;
      z-index: 1;

      &Toggle {
        transition: background-color 200ms;
        transition-delay: 300ms;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: -1;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        left: -20px;
        width: 40px;
        height: 60px;
        top: 40vh;
        background-color: var(--sgbp-color-accent);
        box-shadow: 0 0 5px 0 var(--sgbp-color-darken);

        &Icon {
          color: var(--sgbp-color-accent-inverted);
        }
      }

      &ToggleIcon {
        transition: transform 200ms;
        transition-delay: 300ms;
      }

      &.is-collapsed {
        width: 0 !important; // sass-lint:disable-line no-important

        > * {
          overflow: hidden;
        }
      }

      &.is-initially-collapsed {
        transition: none;
      }

      &.is-collapsed &Toggle {
        background-color: var(--sgbp-color-highlight);
      }

      &.is-collapsed &ToggleIcon {
        transform: rotateZ(180deg);
      }
    }

    &Content {
      flex: 1 1 100%;
    }
  }

  &--sticky {
    padding-top: var(--sgbp-pageLayout-header-height);
    min-height: sgbp-vh(100);

    .sgbp-pageLayout__header {
      position: fixed;
      z-index: calc(var(--sgbp-offCanvas-z-index) - 1);
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &--safeArea.sgbp-pageLayout--sticky {
    padding-top: calc(var(--sgbp-pageLayout-header-height) + constant(safe-area-inset-top)) /* iOS 11.0 notch */;
    padding-top: calc(var(--sgbp-pageLayout-header-height) + env(safe-area-inset-top)) /* iOS 11.2 notch */;
  }

  &--safeArea.sgbp-pageLayout--nonSticky-medium-up.sgbp-pageLayout--sticky {
    @media #{$sgbp-medium-up} {
      padding-top: 0;
    }
  }

  &--safeArea.sgbp-pageLayout--nonSticky-large-up.sgbp-pageLayout--sticky {
    @media #{$sgbp-large-up} {
      padding-top: 0;
    }
  }

  &--safeArea &__header {
    border-top: constant(safe-area-inset-top) solid var(--sgbp-pageLayout-header-background-color); /* iOS 11.0 notch */
    border-top: env(safe-area-inset-top) solid var(--sgbp-pageLayout-header-background-color); /* iOS 11.2 notch */
  }

  &--safeArea &__footer {
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 notch */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 notch */
  }

  &--nonSticky-medium-up {
    @media #{$sgbp-medium-up} {
      padding-top: 0;

      .sgbp-pageLayout__header {
        position: static;
      }
    }
  }

  &--nonSticky-large-up {
    @media #{$sgbp-large-up} {
      padding-top: 0;

      .sgbp-pageLayout__header {
        position: static;
      }
    }
  }

  @media #{$sgbp-print-only} {
    &,
    &__main {
      display: block;
    }

    &__mainSidebar {
      display: none;
    }
  }
}
