html {
  --sgbp-pageLayout-header-height: 58px;
  --sgbp-pageLayout-footer-height: 0px;
}

.sgbp-pageLayout {
  display: flex;
  flex-direction: column;

  &__main,
  &__mainContent,
  &__mainSidebar {
    flex: 1 1 auto;
    min-height: calc(100vh - var(--sgbp-pageLayout-header-height) - var(--sgbp-pageLayout-footer-height) - 1px);
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__header {
    //z-index: 2;
    flex: 0 0 auto;
    height: var(--sgbp-pageLayout-header-height);
  }

  &__main {
    z-index: 2;
    display: flex;
    width: 100%;

    &Sidebar {
      transition: width 300ms;
      position: relative;
      flex: 0 0 auto;
      z-index: 1;

      &Toggle {
        transition: background-color 200ms;
        transition-delay: 300ms;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: -1;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        left: -20px;
        width: 40px;
        height: 60px;
        top: 40vh;
        background-color: var(--sgbp-color-accent);
        box-shadow: 0 0 5px 0 var(--sgbp-color-darken);

        &Icon {
          color: var(--sgbp-color-accent-inverted);
        }
      }

      &ToggleIcon {
        transition: transform 200ms;
        transition-delay: 300ms;
      }

      &.is-collapsed {
        width: 0 !important;

        > * {
          overflow: hidden;
        }
      }

      &.is-collapsed &Toggle {
        background-color: var(--sgbp-color-highlight);
      }

      &.is-collapsed &ToggleIcon {
        transform: rotateZ(180deg);
      }
    }

    &Content {
      flex: 1 1 100%;
    }
  }

  &__footer {
    flex: 0 0 auto;
    height: var(--sgbp-pageLayout-footer-height);
  }

  &--sticky {
    padding-top: var(--sgbp-pageLayout-header-height);
    min-height: 100vh;

    .sgbp-pageLayout__header {
      position: fixed;
      z-index: calc(var(--sgbp-offCanvas-z-index) - 1);
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &--nonSticky-medium-up {
    @media #{$sgbp-medium-up} {
      padding-top: 0;

      .sgbp-pageLayout__header {
        position: static;
      }
    }
  }

  &--nonSticky-large-up {
    @media #{$sgbp-large-up} {
      padding-top: 0;

      .sgbp-pageLayout__header {
        position: static;
      }
    }
  }

  @media #{$sgbp-print-only} {
    &,
    &__main {
      display: block;
    }

    &__mainSidebar {
      display: none;
    }
  }
}
