:root {
  --sgbp-pageHeader-background-color: var(--sgbp-color-brand-primary);
  --sgbp-pageHeader-input-background-color: var(--sgbp-color-brand-primary-light);
  --sgbp-pageHeader-color: var(--sgbp-color-brand-primary-inverted);
  --sgbp-pageHeader-color-active: var(--sgbp-color-white);
  --sgbp-pageHeader-border-color: var(--sgbp-color-transparent);
}

.sgbp-pageHeader {
  border-bottom: 1px solid var(--sgbp-pageHeader-border-color);
  background-color: var(--sgbp-pageHeader-background-color);
  color: var(--sgbp-pageHeader-color);

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: var(--sgbp-page-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  &__section {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: var(--sgbp-default-margin-small);

    &--icon {
      padding: var(--sgbp-default-margin-small);
    }

    &:hover,
    &.is-active {
      color: var(--sgbp-pageHeader-color-active);
    }
  }
}
