.sgbp-pageWrapper {
  max-width: var(--sgbp-page-max-width);
  font-size: var(--sgbp-font-size-text);

  &--fullWidth {
    max-width: unset;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
