:root {
  --sgbp-pageLayout-background-color: var(--sgbp-color-gray-lighter);
  --sgbp-pageLayout-content-background-color: var(--sgbp-color-white);
  --sgbp-pageLayout-content-border-color: var(--sgbp-color-gray-medium);
}

.sgbp-pageLayout {
  display: flex;
  flex-direction: column;
  background-color: var(--sgbp-pageLayout-background-color);
  min-height: 100vh;

  &__header {
    flex: 0 0 auto;

    @media #{$sgbp-large-up} {
      margin-bottom: var(--sgbp-default-margin-big);
    }
  }

  &__mainCanvas {
    flex: 1 1 auto;
  }

  &__main {
    display: flex;
    width: var(--sgbp-page-max-width);

    max-width: 100%;

    @media #{$sgbp-large-up} {
      margin-left: auto;
      margin-right: auto;
    }

    &Sidebar {
      flex: 0 1 160px;

      &:first-child {
        margin-right: var(--sgbp-default-margin-big);
      }

      &:last-child {
        margin-left: var(--sgbp-default-margin-big);
      }
    }

    &Content {
      flex: 1 1 100%;
    }
  }

  &__footer {
    flex: 0 0 auto;
  }
}
