:root {
  --sgbp-pagination-color: var(--sgbp-color-gray-medium);
  --sgbp-pagination-background-color: var(--sgbp-color-white);
  --sgbp-pagination-border-color: var(--sgbp-color-transparent);
  --sgbp-pagination-font-weight:  normal;

  --sgbp-pagination-hover-color: var(--sgbp-pagination-color);
  --sgbp-pagination-hover-background-color: var(--sgbp-pagination-background-color);
  --sgbp-pagination-hover-border-color: var(--sgbp-pagination-border-color);
  --sgbp-pagination-hover-font-weight:  bold;

  --sgbp-pagination-active-color: var(--sgbp-pagination-color);
  --sgbp-pagination-active-background-color: var(--sgbp-pagination-background-color);
  --sgbp-pagination-active-border-color: var(--sgbp-color-gray-light);
  --sgbp-pagination-active-font-weight:  bold;

  --sgbp-pagination-focus-color: var(--sgbp-pagination-color);
  --sgbp-pagination-focus-background-color: var(--sgbp-pagination-background-color);
  --sgbp-pagination-focus-border-color: var(--sgbp-color-black);
  --sgbp-pagination-focus-font-weight:  normal;

  --sgbp-pagination-distance: var(--sgbp-default-margin);
  --sgbp-pagination-border-radius:  0;
  --sgbp-pagination-border-style:  solid;
  --sgbp-pagination-border-width:  1px;
}

.sgbp-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item,
  &__separator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.2em;
    height: 2.2em;
    border-style: var(--sgbp-pagination-border-style);
    border-width: var(--sgbp-pagination-border-width);
    border-color: var(--sgbp-pagination-border-color);
    border-radius: var(--sgbp-pagination-border-radius);

    font-size: calc(var(--sgbp-font-size-base) * 0.9);
    color: var(--sgbp-pagination-color);
    background-color: var(--sgbp-pagination-background-color);

    font-weight: var(--sgbp-pagination-font-weight);

    & + & {
      margin-left: var(--sgbp-pagination-distance);
    }
  }

  &__item {
    @include sgbp-hover(var(--sgbp-pagination-hover-color), var(--sgbp-pagination-hover-background-color), var(--sgbp-pagination-hover-border-color));

    &.is-active {
      color: var(--sgbp-pagination-active-color);
      background-color: var(--sgbp-pagination-active-background-color);
      border-color: var(--sgbp-pagination-active-border-color);

      font-weight: var(--sgbp-pagination-active-font-weight);
    }

    &:focus-within,
    &:focus {
      color: var(--sgbp-pagination-focus-color);
      background-color: var(--sgbp-pagination-focus-background-color);
      border-color: var(--sgbp-pagination-focus-border-color);
      font-weight: var(--sgbp-pagination-focus-font-weight);
      outline: none;
    }

    &:hover {
      font-weight: var(--sgbp-pagination-hover-font-weight);
    }
  }
}
