.sgbp-pageFooter {
  min-height: 200px;
  padding-top: var(--sgbp-default-margin-big);
  background-color: var(--sgbp-color-brand-primary);
  color: var(--sgbp-color-brand-primary-inverted);

  &__inner {
    max-width: var(--sgbp-page-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
