:root {
  --sgbp-paragraph-margin: var(--sgbp-default-margin);
  --sgbp-paragraph-lineHeight:  1.75em;
}

.sgbp-paragraph {
  margin-bottom: var(--sgbp-paragraph-margin);
  line-height: var(--sgbp-paragraph-lineHeight);
  font-variant-numeric: oldstyle-nums;

  &--noMargin {
    margin-bottom: 0;
  }
}
