:root {
  --sgbp-paragraph-margin: var(--sgbp-spacing-m);
  --sgbp-paragraph-lineHeight: 1.75em;
}

.sgbp-paragraph {
  margin-bottom: var(--sgbp-paragraph-margin);
  line-height: var(--sgbp-paragraph-lineHeight);
  font-variant-numeric: oldstyle-nums;
  font-weight: var(--sgbp-font-weight-text);

  &--noMargin {
    margin-bottom: 0;
  }
}
