@use "../settings";

:root {
  --sgbp-postfix-gutter-width: var(--sgbp-spacing-s);
}

@mixin kgrPostfixStacked() {
  flex-direction: column;
  align-items: stretch;

  &.sgbp-postfix--reverseStacked {
    flex-direction: column-reverse;
  }
}

@mixin sgbp-postfix-responsive($mediaQuery, $responsiveSelector) {
  @media #{$mediaQuery} {
    &#{$responsiveSelector} {
      &--gutters3XS {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-3xs);
      }

      &--gutters2XS {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-2xs);
      }

      &--guttersXS {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-xs);
      }

      &--guttersS {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-s);
      }

      &--guttersM {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-m);
      }

      &--guttersL {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-l);
      }

      &--guttersXL {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-xl);
      }

      &--gutters3XL {
        --sgbp-postfix-gutter-width: var(--sgbp-spacing-3xl);
      }

      &--reverse {
        flex-direction: row-reverse;
      }

      &--top {
        align-items: flex-start;
      }

      &--bottom {
        align-items: flex-end;
      }

      &--center {
        align-items: center;
      }

      &--baseline {
        align-items: baseline;
      }

      &--between {
        justify-content: space-between;
      }

    }
  }
}
.sgbp-postfix {
  display: flex;

  &.sgbp-postfix--inline {
    display: inline-flex;
  }

  &--gutters,
  &--gutters3XS,
  &--gutters2XS,
  &--guttersXS,
  &--guttersS,
  &--guttersM,
  &--guttersL,
  &--guttersXL,
  &--gutters3XL {
    gap: var(--sgbp-postfix-gutter-width);
  }

  @include sgbp-postfix-responsive('all', '');
  @include sgbp-postfix-responsive(settings.$sgbp-s-up, '\\[s\\]');
  @include sgbp-postfix-responsive(settings.$sgbp-m-up, '\\[m\\]');
  @include sgbp-postfix-responsive(settings.$sgbp-l-up, '\\[l\\]');
  @include sgbp-postfix-responsive(settings.$sgbp-xl-up, '\\[xl\\]');

  &\[screen-xs\]--stacked,
  &\[screen-s\]--stacked,
  &\[screen-m\]--stacked,
  &\[screen-l\]--stacked {
    @media #{settings.$sgbp-xs-only} {
      @include kgrPostfixStacked();
    }
  }

  &\[screen-s\]--stacked,
  &\[screen-m\]--stacked,
  &\[screen-l\]--stacked {
    @media #{settings.$sgbp-s-only} {
      @include kgrPostfixStacked();
    }
  }

  &\[screen-m\]--stacked,
  &\[screen-l\]--stacked {
    @media #{settings.$sgbp-m-down} {
      @include kgrPostfixStacked();
    }
  }

  &\[screen-l\]--stacked {
    @media #{settings.$sgbp-l-only} {
      @include kgrPostfixStacked();
    }
  }

  &\[screen-m-up\]--stacked {
    @media #{settings.$sgbp-m-up} {
      @include kgrPostfixStacked();
    }
  }

  &__fixed {
    flex-grow: 0;

    &--noShrink {
      flex-shrink: 0;
    }
  }

  &__fluid {
    flex: 1 1 auto;
  }

  &__fixed,
  &__fluid {
    &--center {
      align-self: center;
    }
  }

  &__icon {
    // hack to avoid margin beneath icon that would otherwise be causing vertical alignments to be slightly off
    display: flex;
    align-items: center;
  }

}
