@mixin sgbpPostfixStacked() {
  flex-direction: column;
  align-items: stretch;

  &.sgbp-postfix--gutters {
    > * + * {
      margin-left: 0;
      margin-top: $sgbp-default-margin;
    }
  }

  &.sgbp-postfix--bigGutters {
    > * + * {
      margin-left: 0;
      margin-top: $sgbp-default-margin-big;
    }
  }
}

.sgbp-postfix {
  display: flex;

  &--center {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--between {
    justify-content: space-between;
  }

  &--gutters {
    > * + * {
      margin-left: $sgbp-default-margin;
    }
  }

  &--bigGutters {
    > * + * {
      margin-left: $sgbp-default-margin-big;
    }
  }

  &--tiny-stacked,
  &--small-stacked,
  &--medium-stacked {
    @media #{$sgbp-tiny-only} {
      @include sgbpPostfixStacked();
    }
  }

  &--small-stacked,
  &--medium-stacked {
    @media #{$sgbp-small-only} {
      @include sgbpPostfixStacked();
    }
  }

  &--medium-stacked {
    @media #{$sgbp-medium-only} {
      @include sgbpPostfixStacked();
    }
  }

  &__fixed {
    flex-shrink: 0;
  }

  &__fluid {
    flex: 1 1 auto;
  }
}
