:root {
  --sgbp-readingBlock-maxWidth:  50rem;
}

.sgbp-readingBlock {
  @media #{$sgbp-large-up} {
    max-width: var(--sgbp-readingBlock-maxWidth);

    &--columns {
      max-width: 100%;
      column-count: 2;
      column-gap: 2em;

      li {
        page-break-inside: avoid;
      }
    }
  }
}
