:root {
  --sgbp-region-padding: var(--sgbp-default-margin);
  --sgbp-region-padding-screen-large: var(--sgbp-default-margin-screen-large);

  --sgbp-region-small-padding: var(--sgbp-default-margin-small);
  --sgbp-region-small-padding-screen-large: var(--sgbp-default-margin-small-screen-large);

  --sgbp-region-big-padding: var(--sgbp-default-margin-big);
  --sgbp-region-big-padding-screen-large: var(--sgbp-default-margin-big-screen-large);

  --sgbp-region-primary-color: var(--sgbp-color-brand-primary-inverted);
  --sgbp-region-primary-color-background: var(--sgbp-color-brand-primary);

  --sgbp-region-secondary-color: var(--sgbp-color-black);
  --sgbp-region-secondary-color-background: var(--sgbp-color-gray-light);
}

.sgbp-region {
  padding: var(--sgbp-region-padding);

  @media #{$sgbp-large-up} {
    padding: var(--sgbp-region-padding-screen-large);
  }

  &--small {
    padding: var(--sgbp-region-small-padding);

    @media #{$sgbp-large-up} {
      padding: var(--sgbp-region-small-padding-screen-large);
    }
  }

  &--focusable:focus-within {
    box-shadow: var(--sgbp-color-gray) 0 0 3px;
  }

  &--big {
    padding: var(--sgbp-region-big-padding);

    @media #{$sgbp-large-up} {
      padding: var(--sgbp-region-big-padding-screen-large);
    }
  }

  &--primary {
    background: var(--sgbp-region-primary-color-background);
    color: var(--sgbp-region-primary-color);
  }

  &--secondary {
    background: var(--sgbp-region-secondary-color-background);
    color: var(--sgbp-region-secondary-color);
  }

  &--default {
    background: var(--sgbp-body-bg);
    color: var(--sgbp-text-color);
  }

  &--rounded {
    @include sgbp-roundedEdges;
  }

  &--verticalOnly {
    padding-left: 0;
    padding-right: 0;
  }

  &--horizontalOnly {
    padding-top: 0;
    padding-bottom: 0;
  }
}
