.sgbp-row {
  margin-bottom: var(--sgbp-spacing-m);

  &--xs {
    margin-bottom: var(--sgbp-spacing-xs);
  }

  &--s {
    margin-bottom: var(--sgbp-spacing-s);
  }

  &--m {
    // default
  }

  &--l {
    margin-bottom: var(--sgbp-spacing-l);
  }

  &--xl {
    margin-bottom: var(--sgbp-spacing-xl);
  }

  &\[m\]--none {
    @media #{$sgbp-medium-up} {
      margin-bottom: 0;
    }
  }

  &\[l\]--none {
    @media #{$sgbp-large-up} {
      margin-bottom: 0;
    }
  }

  &\[xl\]--none {
    @media #{$sgbp-xlarge-up} {
      margin-bottom: 0;
    }
  }

  &--inverse {
    margin-bottom: 0;
    margin-top: var(--sgbp-spacing-m);

    &.sgbp-row {

      &--xs {
        margin-top: var(--sgbp-spacing-xs);
      }

      &--s {
        margin-top: var(--sgbp-spacing-s);
      }

      &--m {
        // default
      }

      &--l {
        margin-top: var(--sgbp-spacing-l);
      }

      &--xl {
        margin-top: var(--sgbp-spacing-xl);
      }


      &\[m\]--none {
        @media #{$sgbp-medium-up} {
          margin-top: 0;
        }
      }

      &\[l\]--none {
        @media #{$sgbp-large-up} {
          margin-top: 0;
        }
      }

      &\[xl\]--none {
        @media #{$sgbp-xlarge-up} {
          margin-top: 0;
        }
      }
    }
  }
}
