@mixin sgbp-row-responsive($mediaQuery, $responsiveSelector) {
  @media #{$mediaQuery} {
    &#{$responsiveSelector} {
      &--none {
        --sgbp-row-spacing: 0;
      }

      &--noneIfLastChild:last-child {
        --sgbp-row-spacing: 0;
      }

      &--3xs {
        --sgbp-row-spacing: var(--sgbp-spacing-3xs);
      }

      &--2xs {
        --sgbp-row-spacing: var(--sgbp-spacing-2xs);
      }

      &--xs {
        --sgbp-row-spacing: var(--sgbp-spacing-xs);
      }

      &--s {
        --sgbp-row-spacing: var(--sgbp-spacing-s);
      }

      &--m {
        --sgbp-row-spacing: var(--sgbp-spacing-m);
      }

      &--l {
        --sgbp-row-spacing: var(--sgbp-spacing-l);
      }

      &--xl {
        --sgbp-row-spacing: var(--sgbp-spacing-xl);
      }

      &--2xl {
        --sgbp-row-spacing: var(--sgbp-spacing-2xl);
      }

      &--3xl {
        --sgbp-row-spacing: var(--sgbp-spacing-3xl);
      }

      &--4xl {
        --sgbp-row-spacing: var(--sgbp-spacing-4xl);
      }

      &--5xl {
        --sgbp-row-spacing: var(--sgbp-spacing-5xl);
      }

      &--6xl {
        --sgbp-row-spacing: var(--sgbp-spacing-6xl);
      }

      &--7xl {
        --sgbp-row-spacing: var(--sgbp-spacing-7xl);
      }
    }
  }
}

.sgbp-row {
  --sgbp-row-spacing: var(--sgbp-spacing-s);
  margin-bottom: var(--sgbp-row-spacing);

  &--inverse {
    margin-bottom: 0;
    margin-top: var(--sgbp-row-spacing);
  }

  @include sgbp-row-responsive('all', '');
  @include sgbp-row-responsive($sgbp-s-up, '\\[s\\]');
  @include sgbp-row-responsive($sgbp-m-up, '\\[m\\]');
  @include sgbp-row-responsive($sgbp-l-up, '\\[l\\]');
  @include sgbp-row-responsive($sgbp-xl-up, '\\[xl\\]');
}
