:root {
  --sgbp-screenMargin: var(--sgbp-default-margin);
  --sgbp-screenMargin-screen-large: var(--sgbp-default-margin-screen-large);
}

.sgbp-screenMargin {
  margin-left: var(--sgbp-screenMargin);
  margin-right: var(--sgbp-screenMargin);

  @media #{$sgbp-large-up} {
    margin-left: var(--sgbp-screenMargin-screen-large);
    margin-right: var(--sgbp-screenMargin-screen-large);
  }

  .sgbp-screenMargin {
    margin-left: 0;
    margin-right: 0;
  }

  &--smallNone {
    @media #{$sgbp-small-down} {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
