@use "../settings";
@use "input";

:root {
  --sgbp-select-color: var(--sgbp-input-color);
  --sgbp-select-color-disabled: var(--sgbp-color-gray-100);
  --sgbp-select-optgroup-color: var(--sgbp-color-gray-700);
}

.sgbp-select {
  @extend .sgbp-input; // sass-lint:disable-line placeholder-in-extend

  &--xl {
    --sgbp-input-border-radius: var(--sgbp-border-radius-m);
    --sgbp-input-height: 72px;
    --sgbp-input-font-weight: bold;
    --sgbp-input-padding-horizontal: var(--sgbp-spacing-m);
  }

  -webkit-appearance: none;
  appearance: none;

  position: relative;

  &::-ms-expand {
    display: none;
  }

  &.is-empty:not(:focus) {
    color: var(--sgbp-input-placeholder-color);
  }

  &.is-hide-scrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::-ms-value {
    background-color: var(--sgbp-color-accent);
    color: var(--sgbp-color-accent-inverted);
  }

  &:focus::-ms-value {
    background-color: var(--sgbp-color-accent);
    color: var(--sgbp-color-accent-inverted);
  }

  &[size]:not([size='1']) {
    padding: 0;
    height: auto;
    overflow-y: auto; // default is scroll which displays scrollbars even when they are not needed

    optgroup,
    option {
      --background-color: var(--sgbp-color-transparent);
      --sgbp-select-color: var(--sgbp-select-color);

      appearance: none;
      display: block;
      width: 100%;

      z-index: 2;
      position: relative;
      padding: 5px 8px;

      color: var(--sgbp-select-color);
      background-color: var(--background-color);
    }

    option {
      &:hover:not(:disabled) {
        --background-color: var(--sgbp-color-accent-700);
        --sgbp-select-color: var(--sgbp-color-accent-inverted);
      }

      &:checked {
        --background-color: var(--sgbp-color-accent);
        --sgbp-select-color: var(--sgbp-color-accent-inverted);

        box-shadow: 100vw 0px 0 var(--background-color) inset;
      }

      &:disabled {
        color: var(--sgbp-select-color-disabled);
      }
    }

    optgroup {
      //margin-top: 8px;
      color: var(--sgbp-select-optgroup-color);

      option {
        color: var(--sgbp-select-color);

        &:first-child {
          //margin-top: 6px;
        }
      }
    }
  }

  &:not([size]),
  &[size='1'] {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: calc(var(--sgbp-input-padding-horizontal) + 30px);
    background-image: url('#{settings.$sgbp-image-path}/bg_select.svg');
    background-repeat: no-repeat;
    background-position: right var(--sgbp-input-padding-horizontal) top 19px;
    background-size: 15px;

    &.is-disabled,
    &[disabled] {
      border-color: var(--sgbp-color-gray-25);
      color: var(--sgbp-color-gray-200);
      cursor: not-allowed;
      background-image: url('#{settings.$sgbp-image-path}/bg_select_light.svg');
    }

    &.sgbp-select--xl {
      background-position: right var(--sgbp-input-padding-horizontal) top 32px;
    }

    optgroup {
      color: var(--sgbp-select-optgroup-color);

      option {
        color: var(--sgbp-select-color);
      }
    }
  }
}

input[type='text'].sgbp-select,
input[type='email'].sgbp-select,
input[type='password'].sgbp-select {
  appearance: none;
}
