.sgbp-separator {
  display: block;
  border: none;
  width: 100%;
  height: 1px;

  margin-top: var(--sgbp-spacing-m);
  margin-bottom: var(--sgbp-spacing-m);

  background-color: var(--sgbp-color-gray-100);

  &--noSpacing {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--light {
    background-color: var(--sgbp-color-gray-50);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-accent), transparent);
    }
  }

  &--invisible {
    background-color: var(--sgbp-color-transparent);
  }

  &--white {
    background-color: var(--sgbp-color-white);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-white), transparent);
    }
  }
}
