.sgbp-separator {
  display: block;
  border: none;
  width: 100%;
  height: 1px;

  background-color: var(--sgbp-color-gray-medium);

  &--fade {
    background: linear-gradient(to right, transparent, var(--sgbp-color-gray-medium), transparent);
  }

  &--accent {
    height: 1px;
    background-color: var(--sgbp-color-accent);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-accent), transparent);
    }
  }

  &--highlight {
    height: 1px;
    background-color: var(--sgbp-color-highlight);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-highlight), transparent);
    }
  }

  &--light {
    height: 1px;
    background-color: var(--sgbp-color-gray-light);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-accent), transparent);
    }
  }

  &--white {
    height: 1px;
    background-color: var(--sgbp-color-white);

    &.sgbp-separator--fade {
      background: linear-gradient(to right, transparent, var(--sgbp-color-white), transparent);
    }
  }

  &--big {
    height: 0.5rem;
  }
}
