:root {
  --sgbp-tab-header-distance: var(--sgbp-spacing-xl);
  --sgbp-tab-header-padding-top: 10px;
  --sgbp-tab-header-sides: 0;
  --sgbp-tab-header-padding-bottom: var(--sgbp-spacing-s);
  --sgbp-tab-header-font-size: var(--sgbp-font-size-base);
  --sgbp-tab-header-text-transform: none;
  --sgbp-tab-header-font-weight: bold;
  --sgbp-tab-header-font-weight-hover: var(--sgbp-tab-header-font-weight);
  --sgbp-tab-header-font-weight-active: var(--sgbp-tab-header-font-weight-hover);
  --sgbp-tab-header-color: var(--sgbp-color-gray);
  --sgbp-tab-header-color-hover: var(--sgbp-color-black);
  --sgbp-tab-header-color-active: var(--sgbp-color-black);
  --sgbp-tab-header-underline-color: var(--sgbp-color-accent);
  --sgbp-tab-header-underline-color-hover: var(--sgbp-color-transparent);
  --sgbp-tab-header-underline-color-active: var(--sgbp-tab-header-underline-color);
  --sgbp-tab-underline-height: 1px;
  --sgbp-tab-underline-height-active: var(--sgbp-accent-line-height);
}

.sgbp-tabs {
  &__headers {
    display: flex;
    align-items: flex-start;
    border-bottom: var(--sgbp-tab-underline-height) solid var(--sgbp-tab-header-underline-color);
  }

  &__tab {
    transition: color 200ms, border 200ms;
    padding-top: var(--sgbp-tab-header-padding-top);
    padding-bottom: var(--sgbp-tab-header-padding-bottom);
    padding-left: var(--sgbp-tab-header-sides);
    padding-right: var(--sgbp-tab-header-sides);

    border-bottom: var(--sgbp-tab-underline-height) solid transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: var(--sgbp-tab-header-font-size);
    text-transform: var(--sgbp-tab-header-text-transform);
    font-weight: var(--sgbp-tab-header-font-weight);
    color: var(--sgbp-tab-header-color);

    & + & {
      margin-left: var(--sgbp-tab-header-distance);
    }

    &:visited {
      color: var(--sgbp-tab-header-color);
    }

    @include sgbp-hover(var(--sgbp-tab-header-color-hover)); // should be included beneath :visited style!

    &:hover {
      font-weight: var(--sgbp-tab-header-font-weight-hover);
      border-bottom-color: var(--sgbp-tab-header-underline-color-hover);
    }

    &.is-active {
      font-weight: var(--sgbp-tab-header-font-weight-active);
      color: var(--sgbp-tab-header-color-active);
      border-color: var(--sgbp-tab-header-underline-color-active);
      border-bottom-width: var(--sgbp-tab-underline-height-active);
    }

    &:first-child,
    &--first {
      margin-left: 0;
    }

    &:last-child,
    &--last {
      margin-right: 0;

      // scss-lint:disable NestingDepth
      &::after {
        display: none;
      }
      // scss-lint:enable NestingDepth
    }
  }

  &__badge {
    position: relative;
    top: -1px;
    margin-left: 5px;
  }

  &__content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
