.sgbp-text {
  &--centered {
    text-align: center;
  }

  &--bold {
    @include sgbp-bold;
  }

  &--uppercase {
    @include sgbp-uppercase;
  }

  &--underlined {
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  &--noWrap {
    white-space: nowrap;
  }

  &--truncated {
    @include sgbp-truncateLine;
  }

  &--large,
  &--big {
    font-size: 1.19em;
  }

  &--extraLarge,
  &--extraBig {
    font-size: 1.5em;
  }

  &--small {
    font-size: 0.9em;
  }

  &--extraSmall {
    font-size: 0.9em;
    font-weight: 300;
  }
}
