@use "../mixins/truncateLine";
@use "../mixins/uppercase";

.sgbp-text {
  &--centered {
    text-align: center;
  }

  &--rightAligned {
    text-align: right;
  }

  &--leftAligned {
    text-align: left;
  }

  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &--uppercase {
    @include uppercase.sgbp-uppercase;
  }

  &--underlined {
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  &--forceWrap {
    white-space: normal;
    overflow-wrap: break-word;
  }

  &--noWrap {
    white-space: nowrap;
  }

  &--truncated {
    @include truncateLine.sgbp-truncateLine;
  }

  &--large,
  &--l {
    font-size: 1.19em;
  }

  &--extraLarge,
  &--extraBig {
    font-size: 1.5em;
  }

  &--small {
    font-size: 0.9em;
  }

  &--extraSmall {
    font-size: 0.9em;
    font-weight: 300;
  }

  &--rtl {
    direction: rtl;
  }

  &--ltr {
    direction: ltr;
  }

  &--preserveLineBreaks {
    white-space: pre-line;
  }
}
