:root {
  --sgbp-tree-header-icon-width: 17px;
  --sgbp-tree-header-icon-font-size: 13px;

  @media #{$sgbp-medium-up} {
    --sgbp-tree-header-icon-width: 24px;
    --sgbp-tree-header-icon-font-size: 20px;
  }
}

.sgbp-tree {
  &__header {
    display: flex;
    align-items: flex-start;
  }

  &__headerIconWrapper {
    flex: 0 0 var(--sgbp-tree-header-icon-width);
  }

  &__headerIcon {
    transition: transform 200ms;
    font-size: var(--sgbp-tree-header-icon-font-size);

    margin-top: 2px;

    @media #{$sgbp-medium-up} {
      margin-top: -1px;
    }
  }

  &__headerContent {
    flex: 1 1 100%;
  }

  &__content {
    display: none;
    margin-left: var(--sgbp-tree-header-icon-width);
  }

  &.is-open > &__header > &__headerIconWrapper > &__headerIcon {
    transform: rotate(90deg);
  }

  &.is-open > &__content {
    display: block;
  }

  @for $sgbp-i from 1 through 10 {
    &--level-#{$sgbp-i} {
      margin-left: calc(#{$sgbp-i} * var(--sgbp-tree-header-icon-width));
    }
  }
}
