:root {
  --sgbp-verticalMenu-color: var(--sgbp-color-gray);
  --sgbp-verticalMenu-color-active: var(--sgbp-color-black);
  --sgbp-verticalMenu-border-color-active: var(--sgbp-color-gray);
}

@mixin sgbpVerticalMenuInline() {
  .sgbp-verticalMenu__item {
    border-top: none;
    border-bottom: none;
    border-left: var(--sgbp-accent-line-height) solid var(--sgbp-color-transparent);
    border-right: var(--sgbp-accent-line-height) solid var(--sgbp-color-transparent);
  }

  &.sgbp-verticalMenu--right .sgbp-verticalMenu__item {
    padding-left: var(--sgbp-default-margin-small);

    &.is-active {
      border-left-color: var(--sgbp-verticalMenu-border-color-active);
    }
  }

  &.sgbp-verticalMenu--left .sgbp-verticalMenu__item {
    padding-right: var(--sgbp-default-margin-small);

    &.is-active {
      border-right-color: var(--sgbp-verticalMenu-border-color-active);
    }
  }
}

.sgbp-verticalMenu {
  &--inline {
    @include sgbpVerticalMenuInline;
  }

  &--inlineMediumUp {
    @media #{$sgbp-medium-up} {
      @include sgbpVerticalMenuInline;
    }
  }

  &--inlineLargeUp {
    @media #{$sgbp-large-up} {
      @include sgbpVerticalMenuInline;
    }
  }

  &__item {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--sgbp-color-gray-light);

    color: var(--sgbp-verticalMenu-color);

    &:hover,
    &.is-active {
      color: var(--sgbp-verticalMenu-color-active);
    }

    &.is-active {
      border-bottom-color: var(--sgbp-verticalMenu-border-color-active);
      border-bottom-width: var(--sgbp-accent-line-height);
    }
  }
}
