// sass-lint:disable no-important
html {
  --sgbp-verticalMenu-color: var(--sgbp-color-black);
  --sgbp-verticalMenu-color-active: var(--sgbp-color-accent);
  --sgbp-verticalMenu-border-color-active: var(--sgbp-color-highlight);
  --sgbp-verticalMenu-header-color: var(--sgbp-color-gray);
  --sgbp-verticalMenu-highlight-color: var(--sgbp-color-black);
  --sgbp-verticalMenu-highlight-background-color: var(--sgbp-color-gray-light);
  --sgbp-verticalMenu-font-size: var(--sgbp-font-size-text);
  --sgbp-verticalMenu-font-weight: normal;
  --sgbp-verticalMenu-icon-size: 22px;
}

@mixin sgbpVerticalMenuInline() {
  .sgbp-verticalMenu__item {
    border-top: none;
    border-bottom: none;
    border-left: var(--sgbp-accent-line-width) solid var(--sgbp-color-transparent);
    border-right: var(--sgbp-accent-line-width) solid var(--sgbp-color-transparent);
  }

  &.sgbp-verticalMenu--indicatorLeft .sgbp-verticalMenu__item {
    padding-right: 3px;

    &.is-active {
      border-left-color: var(--sgbp-verticalMenu-border-color-active);
    }
  }

  &.sgbp-verticalMenu--indicatorRight .sgbp-verticalMenu__item {
    padding-left: 3px;

    &.is-active {
      border-right-color: var(--sgbp-verticalMenu-border-color-active);
    }
  }

  &.sgbp-verticalMenu--indicatorLeft .sgbp-verticalMenu__itemHeader {
    padding-left: calc(var(--sgbp-default-margin-small) + var(--sgbp-accent-line-width));
  }
}

.sgbp-verticalMenu {
  &--inline {
    @include sgbpVerticalMenuInline;
  }

  &--inlineMediumUp {
    @media #{$sgbp-medium-up} {
      @include sgbpVerticalMenuInline;
    }
  }

  &--inlineLargeUp {
    @media #{$sgbp-large-up} {
      @include sgbpVerticalMenuInline;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-right: var(--sgbp-default-margin-small);
    padding-bottom: 8px;
    padding-left: var(--sgbp-default-margin-small);
    margin-bottom: 5px;
    border-bottom: 1px solid var(--sgbp-color-gray-light);
    font-size: var(--sgbp-verticalMenu-font-size);
    font-weight: var(--sgbp-verticalMenu-font-weight);
    align-items: center;

    color: var(--sgbp-verticalMenu-color);

    &:visited {
      color: var(--sgbp-verticalMenu-color);
    }

    &:hover,
    &.is-active {
      color: var(--sgbp-verticalMenu-color-active);
    }

    &.is-active {
      border-bottom-color: var(--sgbp-verticalMenu-border-color-active);
      border-bottom-width: var(--sgbp-accent-line-height);
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }

    &.is-open > &Addendum--rotateOpen {
      transform: rotate(90deg);
    }

    &.is-level-1 {
      font-weight: bold;
    }

    &.is-level-2 {
      padding-left: calc(var(--sgbp-default-margin-small) * 1);
    }

    &.is-level-3 {
      padding-left: calc(var(--sgbp-default-margin-small) * 2);
    }

    &.is-level-2,
    &.is-level-3 {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    &Label {
      flex: 1 1 100%;
    }

    &Icon {
      flex: 0 0 auto;
      width: var(--sgbp-verticalMenu-icon-size);
      height: var(--sgbp-verticalMenu-icon-size);
      margin-right: var(--sgbp-default-margin-small);
    }

    &Addendum {
      flex: 0 0 auto;
      margin-left: var(--sgbp-default-margin-small);

      &--rotateOpen {
        transition: transform 0.3s ease-out;
      }
    }
  }

  &__itemHeader {
    @include sgbp-uppercase;
    display: block;
    padding-top: 8px;
    padding-right: var(--sgbp-default-margin-small);
    padding-bottom: 8px;
    padding-left: var(--sgbp-default-margin-small);
    margin-bottom: 5px;

    font-weight: bold;
    color: var(--sgbp-verticalMenu-header-color);
  }

  &__item + &__itemHeader {
    margin-top: var(--sgbp-default-margin);
  }

  &--indicatorHighlight &__item.is-active {
    color: var(--sgbp-verticalMenu-highlight-color);
    background-color: var(--sgbp-verticalMenu-highlight-background-color);
  }

  &.is-collapsed {
    max-width: calc(var(--sgbp-verticalMenu-icon-size) + var(--sgbp-default-margin-small) * 2);

    .sgbp-verticalMenu {
      &__item.is-level-2,
      &__item.is-level-3,
      &__itemLabel,
      &__itemAddendum,
      &__itemHeader {
        display: none;
      }
    }
  }

  //&--indicatorHighlight &__item.is-active &__itemIcon {
  //  color: var(--sgbp-verticalMenu-color);
  //}
}
