@use "headline";
@use "paragraph";
@use "link";
@use "list";

.sgbp-wysiwyg {
  h1 {
    @extend .sgbp-headline;
    @extend .sgbp-headline--text;
    @extend .sgbp-headline--h1;
  }

  h2 {
    @extend .sgbp-headline;
    @extend .sgbp-headline--text;
    @extend .sgbp-headline--h2;
  }

  h3 {
    @extend .sgbp-headline;
    @extend .sgbp-headline--text;
    @extend .sgbp-headline--h3;
  }

  p {
    @extend .sgbp-paragraph;
  }

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: bold;
  }

  a {
    @extend .sgbp-link;
  }

  ul {
    @extend .sgbp-list--bulleted;
  }

  ol {
    @extend .sgbp-list--numbered;
  }

  ul, ol {
    margin-top: var(--sgbp-spacing-s);
  }
}
