@use "../settings";

// sass-lint:disable no-important

@mixin sgbp-hidden-small {
  @media #{settings.$sgbp-s-only} {
    display: none !important;
  }
}

@mixin sgbp-hidden-small-up {
  @media #{settings.$sgbp-s-up}, print {
    display: none !important;
  }
}

@mixin sgbp-hidden-small-down {
  @include sgbp-hidden-small;
}

@mixin sgbp-hidden-medium {
  @media #{settings.$sgbp-m-only} {
    display: none !important;
  }
}

@mixin sgbp-hidden-medium-up {
  @media #{settings.$sgbp-m-up}, print {
    display: none !important;
  }
}

@mixin sgbp-hidden-medium-down {
  @include sgbp-hidden-medium;
  @include sgbp-hidden-small-down;
}

@mixin sgbp-hidden-large {
  @media #{settings.$sgbp-l-only}, print {
    display: none !important;
  }
}

@mixin sgbp-hidden-large-up {
  @media #{settings.$sgbp-l-up}, print {
    display: none !important;
  }
}

@mixin sgbp-hidden-large-down {
  @include sgbp-hidden-large;
  @include sgbp-hidden-medium-down;
}

@mixin sgbp-hidden-xlarge {
  @media #{settings.$sgbp-xl-only} {
    display: none !important;
  }
}

@mixin sgbp-hidden-xlarge-up {
  @media #{settings.$sgbp-xl-up} {
    display: none !important;
  }
}

@mixin sgbp-hidden-xlarge-down {
  @include sgbp-hidden-xlarge;
  @include sgbp-hidden-large-down;
}

@mixin sgbp-hidden-print {
  @media #{settings.$sgbp-print-only} {
    display: none !important;
  }
}

@mixin sgbp-hidden-screen {
  @media #{settings.$sgbp-screen-only} {
    display: none !important;
  }
}

// scss-lint:enable no-important
