/*
 * CSS Custom Property definitions
 * This file should only be included once to avoid unnecessary code repetition in output.
 */

// sass-lint:disable no-color-literals
:root {
  /**
   * Accent and highlight colors may change depending on the context in which they are used
   * (css custom properties sgbp-color-accent* and sgbp-color-highlight* might get overwritten)
   */
  --sgbp-color-transparent: rgba(1, 1, 1, 0);
  --sgbp-color-semiTransparent-1: rgba(255, 255, 255, 0.12);
  --sgbp-color-semiTransparent-2: rgba(255, 255, 255, 0.2);
  --sgbp-color-semiTransparent-3: rgba(255, 255, 255, 0.32);
  --sgbp-color-semiTransparent-5: rgba(255, 255, 255, 0.5);
  --sgbp-color-semiTransparent-6: rgba(255, 255, 255, 0.6);
  --sgbp-color-darken: rgba(81, 79, 109, 0.8);
  --sgbp-color-darken-clear: rgba(0, 0, 0, 0.35);
  --sgbp-color-darken-light: rgba(81, 79, 109, 0.3);
  --sgbp-color-white: #fff;
  --sgbp-color-white-opacity-60: rgba(255, 255, 255, 0.6);
  --sgbp-color-black: #252525;

  --sgbp-color-gray-base: var(--sgbp-color-gray-700); // default text color
  --sgbp-color-gray: var(--sgbp-color-gray-500);
  --sgbp-color-gray-900: #111019;
  --sgbp-color-gray-800: #252434;
  --sgbp-color-gray-700: #3b394e;
  --sgbp-color-gray-600: #514f6d;
  --sgbp-color-gray-500: #6e6981;
  --sgbp-color-gray-400: #878397;
  --sgbp-color-gray-300: #a29eab;
  --sgbp-color-gray-200: #bcb9c3;
  --sgbp-color-gray-100: #dad8de;
  --sgbp-color-gray-50: #eae9ec;
  --sgbp-color-gray-50-opactiy-60: rgba(234, 233, 236, 0.6);
  --sgbp-color-gray-25: #f7f7f8;

  --sgbp-color-success: #12b76a;
  --sgbp-color-warning: #f49f01;
  --sgbp-color-warning-inverted: #fff;
  --sgbp-color-error: #ef1000;
  --sgbp-color-error-inverted: #fff;

  /**
   * Accent and highlight colors may change depending on the context in which they are used
   * (css custom properties sgbp-color-accent* and sgbp-color-highlight* might get overwritten)
   */

  --sgbp-color-accent-25: var(--sgbp-color-turquoise-25);
  --sgbp-color-accent-50: var(--sgbp-color-turquoise-50);
  --sgbp-color-accent-100: var(--sgbp-color-turquoise-100);
  --sgbp-color-accent-200: var(--sgbp-color-turquoise-200);
  --sgbp-color-accent-300: var(--sgbp-color-turquoise-300);
  --sgbp-color-accent-400: var(--sgbp-color-turquoise-400);
  --sgbp-color-accent-500: var(--sgbp-color-turquoise-500);
  --sgbp-color-accent-600: var(--sgbp-color-turquoise-600);
  --sgbp-color-accent-700: var(--sgbp-color-turquoise-700);
  --sgbp-color-accent-800: var(--sgbp-color-turquoise-800);
  --sgbp-color-accent-900: var(--sgbp-color-turquoise-900);
  --sgbp-color-accent: var(--sgbp-color-turquoise-300);
  --sgbp-color-accent-inverted: var(--sgbp-color-turquoise-inverted);

  --sgbp-color-highlight-25: var(--sgbp-color-yellow-25);
  --sgbp-color-highlight-50: var(--sgbp-color-yellow-50);
  --sgbp-color-highlight-100: var(--sgbp-color-yellow-100);
  --sgbp-color-highlight-200: var(--sgbp-color-yellow-200);
  --sgbp-color-highlight-300: var(--sgbp-color-yellow-300);
  --sgbp-color-highlight-400: var(--sgbp-color-yellow-400);
  --sgbp-color-highlight-500: var(--sgbp-color-yellow-500);
  --sgbp-color-highlight-600: var(--sgbp-color-yellow-600);
  --sgbp-color-highlight-700: var(--sgbp-color-yellow-700);
  --sgbp-color-highlight-800: var(--sgbp-color-yellow-800);
  --sgbp-color-highlight-900: var(--sgbp-color-yellow-900);
  --sgbp-color-highlight: var(--sgbp-color-yellow-200);
  --sgbp-color-highlight-inverted: var(--sgbp-color-yellow-inverted);
  --sgbp-color-highlight-alternate: var(--sgbp-color-yellow-600);

  --sgbp-color-yellow-25: #ffffcc;
  --sgbp-color-yellow-50: #ffff99;
  --sgbp-color-yellow-100: #ffff66;
  --sgbp-color-yellow-200: #ffff33;
  --sgbp-color-yellow-300: #ffeb00;
  --sgbp-color-yellow-400: #e6c800;
  --sgbp-color-yellow-500: #cc9900;
  --sgbp-color-yellow-600: #b37700;
  --sgbp-color-yellow-700: #996600;
  --sgbp-color-yellow-800: #804d00;
  --sgbp-color-yellow-900: #663300;
  --sgbp-color-yellow: var(--sgbp-color-yellow-500);
  --sgbp-color-yellow-inverted: #000;

  --sgbp-color-turquoise-25: #ccffff;
  --sgbp-color-turquoise-50: #99ffff;
  --sgbp-color-turquoise-100: #66ffff;
  --sgbp-color-turquoise-200: #33e6e6;
  --sgbp-color-turquoise-300: #00cccc;
  --sgbp-color-turquoise-400: #00b3b3;
  --sgbp-color-turquoise-500: #009999;
  --sgbp-color-turquoise-600: #007f7f;
  --sgbp-color-turquoise-700: #006666;
  --sgbp-color-turquoise-800: #004c4c;
  --sgbp-color-turquoise-900: #003333;
  --sgbp-color-turquoise: var(--sgbp-color-turquoise-500);
  --sgbp-color-turquoise-inverted: #fff;
  
  --sgbp-border-radius-3xs: 6px;
  --sgbp-border-radius-2xs: 8px;
  --sgbp-border-radius-xs: 12px;
  --sgbp-border-radius-s: 16px;
  --sgbp-border-radius-m: 24px;
  --sgbp-border-radius-l: 32px;

  //** Background color for `<body>`.
  --sgbp-body-bg: var(--sgbp-color-white);
  //** Global text color on `<body>`.
  --sgbp-text-color: var(--sgbp-color-gray-darker);

  //** Global textual link color.
  --sgbp-link-color: var(--sgbp-color-accent);
  //** Link hover color set via `darken` function.
  --sgbp-link-hover-color: lighten(var(--sgbp-color-accent), 20);

  --sgbp-page-max-width: 1024px;

  //== Typography
  //
  //## Font, line-height, and color for body text, headings, and more.

  --sgbp-font-family-base: Arial, sans-serif;

  --sgbp-font-size-base: 16px;
  --sgbp-font-size-text: 15px;
  --sgbp-font-weight-text: 300;

  --sgbp-font-size-h0: calc(3.5 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h0: inherit;
  --sgbp-font-size-h1: calc(1.8 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h1: inherit;
  --sgbp-font-size-h2: calc(1.55 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h2: inherit;
  --sgbp-font-size-h3: calc(1.3 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h3: inherit;
  --sgbp-font-size-h4: calc(1.1 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h4: inherit;
  --sgbp-font-size-h5: calc(0.95 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h5: inherit;
  --sgbp-font-size-h6: calc(0.85 * var(--sgbp-font-size-text));
  --sgbp-text-transform-h6: inherit;

  //** Unit-less `line-height` for use in components like buttons.
  --sgbp-line-height-base: 1.35;
  --sgbp-line-height-computed: calc((var(--sgbp-font-size-base) * var(--sgbp-line-height-base)));

  /**
   * Margins:
   */
  --sgbp-spacing-4xs: 4px;
  --sgbp-spacing-3xs: 6px;
  --sgbp-spacing-2xs: 8px;
  --sgbp-spacing-xs: 12px;
  --sgbp-spacing-s: 16px;
  --sgbp-spacing-m: 24px;
  --sgbp-spacing-l: 32px;
  --sgbp-spacing-xl: 40px;
  --sgbp-spacing-2xl: 48px;
  --sgbp-spacing-3xl: 56px;
  --sgbp-spacing-4xl: 64px;
  --sgbp-spacing-5xl: 72px;
  --sgbp-spacing-6xl: 80px;
  --sgbp-spacing-7xl: 88px;
  --sgbp-input-height: 35px;
  --sgbp-input-s-height: 25px;
  --sgbp-input-l-height: 50px;
  --sgbp-input-padding-horizontal: 0.35rem;
  --sgbp-input-color: var(--sgbp-color-black);
  --sgbp-input-color-disabled: var(--sgbp-color-gray);
  --sgbp-input-border-width: 1.5px;
  --sgbp-input-border-radius: 2px;
  --sgbp-input-background-color: var(--sgbp-color-gray-light);
  --sgbp-input-border-color: var(--sgbp-input-background-color);
  --sgbp-input-border-color-focus: var(--sgbp-color-gray);
  --sgbp-input-border-color-disabled: var(--sgbp-input-border-color);

  --sgbp-accent-line-height: 2px;
  --sgbp-accent-line-width: 4px;

  /**
   * z-index
   */
  --sgbp-modal-z-index: 1000;
  --sgbp-tooltip-z-index: 999; // do not use calculated values here because they break in IE when used in derived calculated z-indexes
  --sgbp-offCanvas-z-index: 999; // do not use calculated values here because they break in IE when used in derived calculated z-indexes
  --sgbp-loading-container-z-index: 1;
}
